<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-tnm-videosortlist src="https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetTempVideosList?menuIndexVar=videodll&amp;editionId=1&amp;intSta=0&amp;intNum=2&amp;sortId=" sortsrc="https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetSysNMSortList?menuIndexVar=videodll&amp;editionId=1&amp;parentId=0"></mip-tnm-videosortlist>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-tnm-videosortlist/mip-tnm-videosortlist.js"></script>
  </body>
</html>
