<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8">
    <title>度小满保险</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="canonical" href="https://baoxian.baidu.com">
    <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
    <style mip-custom>
    /* csshint-disable */
    .mip-page-loading-wrapper:after,body:after{background:none;}
    /* csshint-disable */
    </style>
</head>
<body>

    <mip-shell-inservice mip-shell>
        <script type="application/json">
            {
                "isId": "1606492942016592",
                "routes": [
                    {
                        "pattern": "./index",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "度小满保险",
                                "logo": "https://baoxian.bdstatic.com/assets/cms/static/img/1-0/logo-mini.png"
                            },
                            "view": {
                                "isIndex": true
                            }
                        }
                    },
                    {
                        "pattern": "./article",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "度小满保险"
                            },
                            "view": {
                                "isIndex": false
                            }
                        }
                    },
                    {
                        "pattern": "./error",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "度小满保险"
                            },
                            "view": {
                                "isIndex": false
                            }
                        }
                    },
                    {
                        "pattern": "./guide",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "理赔指引"
                            },
                            "view": {
                                "isIndex": false
                            }
                        }
                    },
                    {
                        "pattern": "./health-notice",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "健康告知"
                            },
                            "view": {
                                "isIndex": false
                            }
                        }
                    },
                    {
                        "pattern": "./history-policy",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "历史保单"
                            },
                            "view": {
                                "isIndex": false
                            }
                        }
                    },
                    {
                        "pattern": "./my-policy",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "我的保单"
                            },
                            "view": {
                                "isIndex": false
                            }
                        }
                    },
                    {
                        "pattern": "./pay-result",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "投保结果"
                            },
                            "view": {
                                "isIndex": false
                            }
                        }
                    },
                    {
                        "pattern": "./policy-detail",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "投保详情"
                            },
                            "view": {
                                "isIndex": false
                            }
                        }
                    },
                    {
                        "pattern": "./product",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "保险详情"
                            },
                            "view": {
                                "isIndex": false
                            }
                        }
                    },
                    {
                        "pattern": "./rights-detail",
                        "meta": {
                            "header": {
                                "show": true,
                                "xiongzhang": true,
                                "title": "保障详情"
                            },
                            "view": {
                                "isIndex": false
                            }
                        }
                    }

                ]
            }
        </script>
    </mip-shell-inservice>

    <mip-wrapper>
        <mip-index></mip-index>
    </mip-wrapper>

    <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-shell-inservice/mip-shell-inservice.js"></script>
    <script src="/assets/mip/mip-wrapper/mip-wrapper.js"></script>
    <script src="/assets/mip/mip-index/mip-index.js"></script>

</body>
</html>
