<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    
  </head>
  <body>
    <mip-sm-recommend title='%E8%A5%BF%E7%BA%A2%E6%9F%BF%E7%82%92%E9%B8%A1%E8%9B%8B%E5%81%9A%E6%B3%95'></mip-sm-recommend>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-sm-recommend/mip-sm-recommend.js"></script>
  </body>
</html>
