<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */
    #allpage {
      position: relative;
    }

    .fullpage {
      position: relative;
    }
  </style>
  <style mip-custom>
    /* 自定义样式 */
  </style>
</head>

<body>
  <mip-leso-fullpage>
    <div id="allpage" sec='11'>
      <div class="fullpage">1</div>
      <div class="fullpage">2</div>
      <div class="fullpage">3</div>
      <div class="fullpage">4</div>
      <div class="fullpage">5</div>
      <div class="fullpage">6</div>
      <div class="fullpage">7</div>
      <div class="fullpage">8</div>
      <div class="fullpage">9</div>
      <div class="fullpage">10</div>
      <div class="fullpage">11</div>
    </div>
  </mip-leso-fullpage>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-leso-fullpage/mip-leso-fullpage.js"></script>
</body>

</html>