<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */
  </style>
</head>

<body>
  <div>
    <mip-1688seo-card>
      <script type="application/json">
          {
            relatedKeywords:[{
              title: '厂家',
              words: [{
                  name: 'fds',
                  href: 'fdssd'
                },
                {
                  name: 'fds',
                  href: 'fdssd'
                },
                {
                  name: 'fds',
                  href: 'fdssd'
                },
                {
                  name: 'fds',
                  href: 'fdssd'
                },
                {
                  name: 'fds',
                  href: 'fdssd'
                },
                {
                  name: 'fds',
                  href: 'fdssd'
                }]
            }]
          }
        </script>
    </mip-1688seo-card>
  </div>
  <script src="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.js"></script>
  <script src="/mip-1688seo-card/mip-1688seo-card.js"></script>
</body>

</html>
