<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-jufair-news informationHot="[ { id: '1881',
      title: '泰国曼谷国际工业展览会',
      informationTypeId: '1',
      informationTypeName: '展会资讯',
      secondIndustryId: '65',
      secondIndustryName: '工业',
      coverMap:
       'http://jufiarbackend.oss-cn-shanghai.aliyuncs.com/242ef2418eaf06fc92ba3ca9d1395747.jpg',
      viewCount: '6',
      publishTime: '2019-04-08 14:48:18' },
    { id: '1880',
      title: '印度孟买国际五金展览会',
      informationTypeId: '1',
      informationTypeName: '展会资讯', 
      secondIndustryId: '47',
      secondIndustryName: '五金',
      coverMap:
       'http://jufiarbackend.oss-cn-shanghai.aliyuncs.com/36da79efc3f60017ceead53015414e50.jpg',
      viewCount: '5',
      publishTime: '2019-04-08 14:29:18' },
    { id: '1879',
      title: '埃及开罗国际机械五金工具展览会',
      informationTypeId: '1',
      informationTypeName: '展会资讯',
      secondIndustryId: '67',
      secondIndustryName: '工程机械',
      coverMap:
       'http://jufiarbackend.oss-cn-shanghai.aliyuncs.com/9472f6afda0d5227afa1f76e39e6f4bb.jpg',
      viewCount: '8',
      publishTime: '2019-04-08 14:12:18' }]"></mip-jufair-news>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-jufair-news/mip-jufair-news.js"></script>
  </body>
</html>
