<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-tnm-provdtab src="https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetTempProductsList?menuIndexVar=travel_step&editionId=1&intSta=0&intNum=3&sortId=" modulesrc="https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetPageModuleList?moduleElement=products_toptitle&editionId=1"></mip-tnm-provdtab>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-tnm-provdtab/mip-tnm-provdtab.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-vd-tabs/mip-vd-tabs.js"></script>
  </body>
</html>
