<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>    
      /*! 自适应 start */
      html{font-size:50px}
      @media only screen and (min-width:320px){
      html{font-size:42.6667px}
      }
      @media only screen and (min-width:360px){
      html{font-size:48px}
      }
      @media only screen and (min-width:375px){
      html{font-size:50px}
      }
      @media only screen and (min-width:384px){
      html{font-size:51.2px}
      }
      @media only screen and (min-width:400px){
      html{font-size:53.3333px}
      }
      @media only screen and (min-width:412px){
      html{font-size:54.9333px}
      }
      @media only screen and (min-width:414px){
      html{font-size:55.2px}
      }
      @media only screen and (min-width:480px){
      html{font-size:64px}
      }
      @media only screen and (min-width:750px){
      html{font-size:100px}
      }
      .test-box {
        height: 1000px;
      }
    </style>
  </head>
  <body>
    <div>
      <mip-xzpicker>选择星座</mip-xzpicker>
    </div>

    <div class="test-box">123213</div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-xzpicker/mip-xzpicker.js"></script>
  </body>
</html>
