<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */

  </style>
</head>

<body>
  <div>
    <mip-view-container 
      type="text" 
      data='{href:"https://www.wstimes.cn/",text:"这是文本"}'>
    </mip-view-container>
    <mip-view-container 
      type="image"
      data='{href:"https://www.wstimes.cn/",src:"https://www.mipengine.org/static/img/sample_01.jpg"}' 
      size="[340,70]">
    </mip-view-container>
    <mip-view-container 
      type="graphic"
      data='{href:"https://www.wstimes.cn/",src:"https://www.mipengine.org/static/img/sample_01.jpg",total:"1W",title:"标题",date:"2019/06/12"}'
      size="[340,70]">
    </mip-view-container>
    <mip-view-container 
      type="carousel"
      data='{list:[{href:"https://www.wstimes.cn/",src:"https://www.mipengine.org/static/img/sample_01.jpg"},{href:"https://www.wstimes.cn/",src:"https://www.mipengine.org/static/img/sample_01.jpg"},{href:"https://www.wstimes.cn/",src:"https://www.mipengine.org/static/img/sample_01.jpg"}]}'
      size="[375,142]">
    </mip-view-container>
    
  </div>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-view-container/mip-view-container.js"></script>
</body>

</html>
