<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="https://mip.qiushibaike.com">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <p>type=smua:</p>
    <mip-qb-ad type="smua" src="d=m&s=b&u=u3594595&h=330"></mip-qb-ad>

    <p>type=default:</p>
    <mip-qb-ad type="default" src="//fzb01.qiushibaike.com/production/sesln1.js?togl=nkpqq"></mip-qb-ad>

    <p>type=sogou:</p>
    <mip-qb-ad type="sogou" src="1000745" script=""></mip-qb-ad>

    <p>type=sogou_auto:</p>
    <mip-qb-ad type="sogou_auto" src="1001690" w="20" h="5" script=""></mip-qb-ad>

    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-qb-ad/mip-qb-ad.js"></script>
  </body>
</html>
