<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-chinacn-getvideourl>
        <mip-video id="getVideo" controls layout="responsive" width="640" height="360"
            title=""
            src="https://sjz.china.cn/4211335368da4a64831439a098a0469c/f31981f1b2e048caba412c557cea6c2e-51592fb0c0b18c3c331e13fc986295af-ld.mp4"
            poster="">
        </mip-video>
        <input type="hidden" id="id" value="107812">
    </mip-chinacn-getvideourl>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-chinacn-getvideourl/mip-chinacn-getvideourl.js"></script>
  </body>
</html>
