<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
	  <mip-jxwl-clicktj fetch-url="https://api.youxigt.com/game/down/id/9672/dir/game">
	  <a id="android" class="btn" rel="nofollow">安卓下载</a>
      <a id="ios" class="btn" rel="nofollow">苹果下载</a>
      </mip-jxwl-clicktj>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-jxwl-clicktj/mip-jxwl-clicktj.js"></script>
  </body>
</html>
