<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
html {  font-family: sans-serif; /* 1 */  -ms-text-size-adjust: 100%; /* 2 */  -webkit-text-size-adjust: 100%; /* 2 */-webkit-tap-highlight-color: rgba(0, 0, 0, 0);/* 消除移动浏览器点击蓝色背景 */}
img { width:auto\9; height:auto;  max-width:100%; vertical-align:middle;  border:0; -ms-interpolation-mode:bicubic}
ul,ol,dl,h1,h2,h3,h4,h5,h6,dt,dd{margin:0;padding:0}
ul li,ol li{list-style:none}
.g-box {width: 100%;height: auto;background: none;padding: 0;display: block;overflow: hidden;box-sizing: border-box;margin-bottom: 12px;margin-top: 12px;}
.g-box .info .pic {padding: 0;}.g-box .info {width: 100%;height: auto;box-sizing: border-box;padding: 10px;background: #fff;display: block;overflow: hidden;}
#m-down-msg .info .pic {padding: 10px 10px 0;}
.g-box .info .pic {width: 100%;height: auto;margin: 0;display: -webkit-box;overflow: hidden;}
.g-box .info .pic .ico-wrap {width: 70px;height: 70px;display: block;overflow: hidden;}
.g-box .info .pic ul {width: auto;height: auto;margin: 0;text-align: left;padding: 0 0 0 14px;box-sizing: border-box;display: block;
overflow: hidden;-webkit-box-flex: 1;}
.g-box .info .pic ul .cpname h1 {width: 100%;height: 22px;line-height: 22px;font-size: 18px;font-weight: bold;color: #333;display: block;overflow: hidden;float: left;margin: 2px 0 4px;display: inline;overflow: hidden;}
.g-box .info .pic ul li h1 {font-weight: normal;}
.g-box .info .pic ul li b {width: 50%;height: 18px;line-height: 18px;font-size: 14px;font-weight: normal;color: #999;float: left;margin: 3px 0 -2px 0;display: inline;overflow: hidden;}
.g-downAddress {width: 100%;height: auto;float: left;margin: 0;display: inline;overflow: hidden;padding: 0;box-sizing: border-box;}
.g-downAddress .m-down-ul {width: 100%;height: auto;margin-top: 8px;box-sizing: border-box;display: block;overflow: hidden;}
.g-downAddress .m-down-ul .m-down-last {width: 100%;}
.g-downAddress li.m-down-last {padding-bottom: 10px;}
.g-downAddress .m-down-ul li {width: 50%;height: auto;padding-bottom: 10px;box-sizing: border-box;float: left;display: inline;overflow: hidden;margin: 0;}
.g-downAddress li.m-down-last a {width: 275px;height: 38px;margin: 0 auto;line-height: 38px;border-radius: 18.5px;font-size: 16px;font-weight: normal;color: #fff;text-align: center;display: block;overflow: hidden;text-decoration: none;}
.g-downAddress .m-down-ul li a {width: 275px;height: 38px;margin: 0 auto;line-height: 38px;border-radius: 18.5px;font-size: 16px;font-weight: normal;color: #fff;text-align: center;display: block;overflow: hidden;text-decoration: none;background: -webkit-linear-gradient(left, #fcc030 , #ff971c);background: -o-linear-gradient(right, #fcc030, #ff971c);background: -moz-linear-gradient(right, #fcc030, #ff971c);background: linear-gradient(to right, #fcc030 , #ff971c);}
    </style>
  </head>
  <body>
    <mip-example>
<div class="g-box f-yydiv" id="m-down-msg">
<header class="info">
<div class="pic">
<div class="ico-wrap middle f-game-img">
<mip-img class="ico mip-element mip-layout-container mip-img-loaded" src="https://p.qqan.com/up/2020-7/2020714192755977.png!100_100"></mip-img>
</div>
<ul>
<li class="cpname"><h1 class="f-game-h1">王者传奇手游</h1></li><li class="type"><b>大小：238.5M</b><b>语言：中文</b></li><li class="type"><b>类别：角色扮演</b><b class="f-tags-system">系统：Android</b></li>
</ul>
</div>
<div id="downAddress" class="g-downAddress">
<ul class="m-down-ul f-downbtn-url g-nav-full">
<li class="m-down-last m-down-msg"><a href="tj.tcyl77.com" class="span9 m-game-down down f-eject-btn" data-flag="downbtn" id="address">普通下载</a></li>
</ul>
</div></div>
</header>
</div>
<div class="f-information f-hide" data-id="189880" data-path="down" data-categroyId="203" data-rootid="16" data-commendid="0" data-system="Android" data-ppaddress="" data-ismoney="0" data-CommentTpye="0" data-Username="yinpan" data-Type="0" data-DateTime="2017/4/11" data-attr="免费" data-phpurl="2" data-star="5" data-durl="tj.tcyl77.com" data-ismoney="0" data-special="2"></div>
    </mip-example>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-example/mip-example.js"></script>
  </body>
</html>