<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
      .content{height: 400px;}
      .item{height: 200px;margin-bottom: 50px; }
    </style>
  </head>
  <body>
    <mip-chinacn-statistics page="search"></mip-chinacn-statistics>
    <div>
      <div class="content">some content</div>
      <div class="content">some content</div>
      <div class="content">some content</div>
      <div class="item"> <mip-img src="https://himg.china.cn/1/4_113_241310_600_600.jpg" width="200" height="200"> </div>
      <div class="item"> <mip-img src="https://himg.china.cn/1/5_900_1515506_733_688.jpg" width="200" height="200"> </div>
      <div class="item"> <mip-img src="https://himg.china.cn/1/3_207_28921_500_357.jpg" width="200" height="200"> </div>
      <div class="item"> <mip-img src="https://himg.china.cn/1/3_62_100411_790_648.jpg" width="200" height="200"> </div>
      <div class="item"> <mip-img src="https://himg.china.cn/1/2_585_60690_763_769.jpg" width="200" height="200"> </div>
      <div class="item"> <mip-img src="https://himg.china.cn/1/2_607_101701_388_388.jpg" width="200" height="200"> </div>
      <div class="item"> <mip-img src="https://himg.china.cn/1/5_463_1217477_793_758.jpg" width="200" height="200"> </div>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-chinacn-statistics/mip-chinacn-statistics.js"></script>
  </body>
</html>
