<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <link rel="stylesheet" type="text/css" href="https://t.focus-res.cn/front-end/icon2018/iconfont.css">
    <style mip-custom>
    /* 自定义样式 */
    .icon {
      display: inline-block;
      font-family: "icon2018" !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 30px;
    }

    .icon::before {
      content: '\e9c0';
    }
    </style>
  </head>
  <body>
    <mip-focus-call-400 
      id="focus-call-1111" 
      on="tap:focus-call-1111.call androidfail:lightbox-call-1111.toggle" 
      city-id="1" 
      pid="1111" 
      phone="4000000000-111111" 
      host-number="400-000-0000" 
      extension-number="111111" 
      fetch-url="http://export.focus-test.cn/ajax/randomBigCode">
      <div class="icon"></div>
    </mip-focus-call-400>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-lightbox/mip-lightbox.js"></script>
    <script src="/mip-focus-call-400/mip-focus-call-400.js"></script>
  </body>
</html>