<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/mag-design/2.0.2/mag-design.min.css">
    <style mip-custom>
    /* 自定义样式 */
      .item{
        padding: 80px;
        background: #f3f3f3;
        margin: 10px;
      }
    </style>
</head>
<body>
    <mip-data>
        <script type="application/json">
          {
            "title": "神武天地"
          }
        </script>
    </mip-data>
    <mip-addchapter m-bind:novel-name = "title"></mip-addchapter>


    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-addchapter/mip-addchapter.js"></script>
</body>
</html>