<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    html,
        body,
        div {
            padding: 0;
            margin: 0;
        }

        html {
            font-size: 62.5%;
        }
    </style>
  </head>
  <body>
    <div>
      <mip-zdwx-stars value="4" disable="false"></mip-zdwx-stars>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="http://192.168.1.46:8111/mip-zdwx-stars/mip-zdwx-stars.js"></script>
  </body>
</html>
