<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <button on="tap:dropmenu.toggle">打开</button>
      <mip-hlj-dropmenu id="dropmenu" cid="10" menuList="menuList">
          <script type="application/json">
              {
                showDownload: true,
                menuList: [[{
                  href: '',
                  text: '首页',
                  img: 'https://qnm.hunliji.com/o_1ckf135qg4st6dk1q4640jvks4v.png'
                }, {
                  href: '',
                  text: '找商家',
                  img: 'https://qnm.hunliji.com/o_1ckf135qhccrf1fnk8ds11emf52.png'
                }, {
                  href: '',
                  text: '案例',
                  img: 'https://qnm.hunliji.com/o_1ckf135qg132d1s28fdeqi51ia94o.png'
                }, {
                  href: '',
                  text: '套餐',
                  img: 'https://qnm.hunliji.com/o_1ckf135qgl86b4rsltfug1r9u50.png'
                }], 
                [{
                  href: '',
                  text: '结婚请柬',
                  img: 'https://qnm.hunliji.com/o_1ckf135qgfaq441i0p1d2l1b7a4t.png'
                }, {
                  href: '',
                  text: '婚宴酒店',
                  img: 'https://qnm.hunliji.com/o_1ckf135qg12bm1fsb16421k0d1i6k4r.png'
                }, {
                  href: '',
                  text: '结婚美图',
                  img: 'https://qnm.hunliji.com/o_1ckf135qg1gfbs517di14n31t1g4s.png'
                }, {
                  href: '',
                  text: '结婚百科',
                  img: 'https://qnm.hunliji.com/o_1ckf135qg1lg9a1tb9716sspff4p.png'
                }], 
                [{
                  href: '',
                  text: '结婚用品',
                  img: 'https://qnm.hunliji.com/o_1ckf135qg1rdi1d2r7dp15lsip4q.png'
                }, {
                  href: '',
                  text: '问答',
                  img: 'https://qnm.hunliji.com/o_1ckf135qh184h8vr1gqugojmt351.png'
                }, {
                  href: '',
                  text: '婚礼视频',
                  img: 'https://qnm.hunliji.com/o_1ckf135qglcrdv91jg91jng18804u.png'
                }, {
                  href: '',
                  text: '新娘社区',
                  img: 'https://qnm.hunliji.com/o_1ckotf1pk1ookqai1oh0tq41s7h7.png'
                }]]
              }
            </script>
      </mip-hlj-dropmenu>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-hlj-dropmenu/mip-hlj-dropmenu.js"></script>
  </body>
</html>
