<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-ys137-baidustats referrer='!aa|bb' token="007d6d55afbabb854832b18e17ca2aa4"></mip-ys137-baidustats>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-ys137-baidustats/mip-ys137-baidustats.js"></script>
	<script src="https://c.mipcdn.com/static/v2/mip-stats-baidu/mip-stats-baidu.js" ></script>
  </body>
</html>
