<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com/static/new/mobile/css/reset.css">
  <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com/static/new/mobile/css/public.css">
  <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com/static/new/mobile/css/swiper-4.3.3.min.css">
  <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com/static/new/mobile/css/detail.css">
  <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com/static/new/mobile/css/popup.css">
  <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com//static/new/css/recruit.css">
  <style mip-custom>
    body {
      opacity: 1;
    }
    .intro-but{
      color: red;
    }

  </style>
</head>

<body>
  <div>
  
    <div class="product-box base-padding-bottom base-more">
      <p class="detail-title ios-font-weight">基础信息
        <span class="intro-but">切换面积(亩)</span>
      </p>
      <div class="open-box">
        <div class="product-base-info">
          <p class="base-info-label">出让年限</p>
          <p class="base-info-detail">
            70年 </p>
        </div>
        <div class="product-base-info">
          <p class="base-info-label">建设面积</p>
          <p class="base-info-detail">
            <span class="exchange-show">27276.00㎡</span>
            <span class="exchange-hide">40.91亩</span>
          </p>
        </div>
        <div class="product-base-info">
          <p class="base-info-label">规划面积</p>
          <p class="base-info-detail">
            <span class="exchange-show">95466.00㎡</span>
            <span class="exchange-hide">143.2亩</span>
          </p>
        </div>
        <div class="product-base-info">
          <p class="base-info-label">容积率</p>
          <p class="base-info-detail">
            大于1并且小于3.5 </p>
        </div>
        <div class="product-base-info">
          <p class="base-info-label">建筑密度</p>
          <p class="base-info-detail">
            大于20并且小于28 </p>
        </div>
        <div class="product-base-info">
          <p class="base-info-label">绿化率</p>
          <p class="base-info-detail">
            大于35 </p>
        </div>
        <div class="product-base-info">
          <p class="base-info-label">商业比例</p>
          <p class="base-info-detail">
            暂无数据 </p>
        </div>
        <div class="product-base-info">
          <p class="base-info-label">代征面积</p>
          <p class="base-info-detail">
            暂无数据 </p>
        </div>
        <div class="product-base-info">
          <p class="base-info-label">限制高度</p>
          <p class="base-info-detail">
            暂无数据 </p>
        </div>
        <div class="product-base-info">
          <p class="base-info-label">四至</p>
          <p class="base-info-detail">
            大河坎镇渔营村 </p>
        </div>
        <div class="product-base-info">
          <p class="base-info-label">规划用途</p>
          <p class="base-info-detail">
            其他普通商品住房用地 </p>
        </div>
      </div>
      <div class="base-info-more"><span>展开更多信息</span><img
          src="http://img.ims.com/static/new/mobile/images/select-icon.png" alt="展开更多信息"></div>
    </div>
    <!-- 交易信息 -->
    
    <div class="product-box base-padding-bottom base-more m-base-more">
      <p class="detail-title m-detail-title ios-font-weight">交易信息</p>
      <div class="open-box">
        <div class="product-base-info m-product-base-info">
          <p class="base-info-label">竞得方</p>
          <p class="base-info-detail">
            汉中市艺邦置业有限责任公司 </p>
        </div>
        <div class="product-base-info m-product-base-info">
          <p class="base-info-label">起始价</p>
          <p class="base-info-detail">
            暂无数据 </p>
        </div>
        <mip-xuannaer-exchange >
            <mip-data>
                <script type="application/json">
                    {
                      "imsUrl":"https://ims.xuannaer.com",
                      "imgUrl":"http://img.ims.com",
                      "hostUrl": "http://m.ims.com/",
                      "detailId":"06657e14-70ff-452d-9665-5993076aaea4"
                    }
                </script>
            </mip-data>
          <div class="product-base-info m-product-base-info  m-background">
            <p class="base-info-label">成交价</p>
            <p class="base-info-detail completion_price">
              ***万元
            </p>
          </div>
          <div class="product-base-info m-product-base-info m-background">
            <p class="base-info-label">楼面地价</p>
            <p class="base-info-detail completion_floor_price">
              <span class="exchange-show"> ***元/㎡</span>
              <span class="exchange-hide"> ***万元/亩</span>
            </p>
            <p class="base-info-detail m-base-info-detail"><img
                src="http://img.ims.com/static/new/mobile/images/look_complete.png"></p>
          </div>

          <div class="product-base-info m-product-base-info m-background">
            <p class="base-info-label">土地单价</p>
            <p class="base-info-detail land_price">
              <span class="exchange-show">***元/㎡</span>
              <span class="exchange-hide">***万元/亩</span>
            </p>
          </div>
          <div class="product-base-info m-product-base-info m-background">
            <p class="base-info-label">溢价率</p>
            <p class="base-info-detail premium_rate">
              ***
            </p>
          </div>
        </mip-xuannaer-exchange>
        <div class="product-base-info m-product-base-info">
          <p class="base-info-label">交易状态</p>
          <p class="base-info-detail">
            已成交 </p>
        </div>
        <div class="product-base-info m-product-base-info">
          <p class="base-info-label">起始日期</p>
          <p class="base-info-detail">
            2018-12-14 </p>
        </div>

        <div class="product-base-info m-product-base-info">
          <p class="base-info-label">保证金</p>
          <p class="base-info-detail">
            2660.00万元
          </p>
        </div>
        <div class="product-base-info m-product-base-info">
          <p class="base-info-label">最小加价</p>
          <p class="base-info-detail">
            暂无数据
          </p>
        </div>
        <div class="product-base-info m-product-base-info">
          <p class="base-info-label">咨询电话</p>
          <p class="base-info-detail">
            09165368333 </p>
        </div>
      </div>
      <div class="base-info-more m-base-info-more"><span>展开更多信息</span></div>


</div>
      <mip-rem font-size='[{"maxWidth": 415, "size": 55},{"maxWidth": 376, "size": 50}]'></mip-rem>
      <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
      <script src="/mip-xuannaer-exchange/mip-xuannaer-exchange.js"></script>
</body>

</html>
