<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */
  </style>
</head>
<body>
  <div>
    <mip-ad></mip-ad>
    <mip-ad-baidu></mip-ad-baidu>
    <mip-ad-baidussp></mip-ad-baidussp>
    <mip-ad-comm></mip-ad-comm>
    <mip-ad-imageplus></mip-ad-imageplus>
    <mip-ad-qwang></mip-ad-qwang>
    <mip-ad-ssp></mip-ad-ssp>
    <mip-baidu-wm-ext></mip-baidu-wm-ext>
  </div>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-ad/mip-ad.js"></script>
  <script src="/mip-ad/mip-ad-baidu.js"></script>
  <script src="/mip-ad/mip-ad-baidussp.js"></script>
  <script src="/mip-ad/mip-ad-comm.js"></script>
  <script src="/mip-ad/mip-ad-imageplus.js"></script>
  <script src="/mip-ad/mip-ad-qwang.js"></script>
  <script src="/mip-ad/mip-ad-ssp.js"></script>
  <script src="/mip-ad/mip-baidu-wm-ext.js"></script>
</body>
</html>
