<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>选择小区</title>
    <link rel="canonical" href="对应的原页面地址">
    <!--<link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">-->
    <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
    <style mip-custom>
        /* 自定义样式 */
        body {
            background: #f5f5f5;
        }


    </style>
</head>
<body>

<div><mip-dw-position></mip-dw-position></div>
<script src="https://c.mipcdn.com/static/v2/mip.js"></script>
<script src="/mip-dw-position/mip-dw-position.js"></script>

</body>
</html>
