<!DOCTYPE html>
<html mip style="font-size:37.5px;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-jufair-loop-exh otherexhibitionlist="[
      {id: '1', exhibitionName: 'aaaaa', basicPic: '//jufiarbackend.oss-cn-shanghai.aliyuncs.com/88fb126c6ae0a5f7232b55ac8b22d797.jpg!m222'},
      {id: '2', exhibitionName: 'bbbbb', basicPic: '//jufiarbackend.oss-cn-shanghai.aliyuncs.com/88fb126c6ae0a5f7232b55ac8b22d797.jpg!m222'},
      {id: '3', exhibitionName: 'ccccc', basicPic: '//jufiarbackend.oss-cn-shanghai.aliyuncs.com/88fb126c6ae0a5f7232b55ac8b22d797.jpg!m222'},
      {id: '4', exhibitionName: 'ddddd', basicPic: '//jufiarbackend.oss-cn-shanghai.aliyuncs.com/88fb126c6ae0a5f7232b55ac8b22d797.jpg!m222'},
      {id: '5', exhibitionName: 'eeeee', basicPic: '//jufiarbackend.oss-cn-shanghai.aliyuncs.com/88fb126c6ae0a5f7232b55ac8b22d797.jpg!m222'}
    ]"></mip-jufair-loop-exh>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-jufair-loop-exh/mip-jufair-loop-exh.js"></script>
  </body>
</html>
