<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta id="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
/*表格*/
table.hq-table{ font-size: 0.28rem;line-height:.44rem;width:100%;}
.hq-table th{ height: 2.14em; color: #2f75ea; font-weight: normal;background:transparent;white-space:nowrap;}
.hq-table th:nth-child(1){ width: 26%;}
.hq-table td{ height: 2.5em; text-align: center; border-bottom: 1px solid #ececec;word-break: break-word;}
.hq-table td a{ display: inline-block; height: 2.5em; line-height: 2.5em; color: #2f75ea; overflow: hidden;}
.hq-kinds-list ul{ padding-bottom: 0.3125em;}
.hq-kinds-list li{ float: left; width: 18%; height: 28px; line-height: 26px; margin-right: 2.5%; margin-bottom: 0.55em; text-align: center; background: #f5f5f5; border: 1px solid #dedede; font-size: 0.875em; overflow: hidden; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.hq-kinds-list li:nth-child(5n){ margin-right: 0;}
.hq-kinds-list li a{ display: block; color: #555;}
.hq-table tr:first-child{border:none;}
.hq-table thead {background: transparent;}

    </style>
  </head>
  <body>

<mip-jt-resize></mip-jt-resize>

<mip-jt-xianhuo-quote 
  codes="JO_130616,JO_130605,JO_130625,JO_130634,JO_130624"
></mip-jt-xianhuo-quote>
<!--farm-->
<h2>农产品</h2>
<table class="hq-table">
    <thead>
      <tr>   
        <th width='35%'>名称</th>
        <th >报价</th>
        <th >单位</th>
        <th >产地</th>
        <th >跌涨</th>
      </tr>
    </thead>
    <tbody id="dataList">
      <!-- 5条 -->
        <tr>
          <td><a title="糙米现货价格" href="https://m.cngold.org/xianhuo/m_farm_hq621.html" >糙米</a></td>
          <td class="JO_130616_q63"></td>
          <td>元/公斤</td>
          <td >中国</td>
          <td class="JO_130616_q70"></td>
        </tr>
        <tr>
          <td><a title="色选米现货价格" href="https://m.cngold.org/xianhuo/m_farm_hq628.html" >色选米</a></td>
          <td class="JO_130605_q63"></td>
          <td>元/公斤</td>
          <td >中国</td>
          <td class="JO_130605_q70"></td>
        </tr>
        <tr>
          <td><a title="青豆现货价格" href="https://m.cngold.org/xianhuo/m_farm_hq663.html" >青豆</a></td>
          <td class="JO_130625_q63"></td>
          <td>元/斤</td>
          <td >中国</td>
          <td class="JO_130625_q70"></td>
        </tr>
        <tr>
          <td><a title="红米现货价格" href="https://m.cngold.org/xianhuo/m_farm_hq618.html" >红米</a></td>
          <td class="JO_130634_q63"></td>
          <td>元/公斤</td>
          <td >中国</td>
          <td class="JO_130634_q70"></td>
        </tr>
        <tr>
          <td><a title="大豆现货价格" href="https://m.cngold.org/xianhuo/m_farm_hq41.html" >大豆</a></td>
          <td class="JO_130624_q63"></td>
          <td>元/斤</td>
          <td >中国</td>
          <td class="JO_130624_q70"></td>
        </tr>
    </tbody>
</table>


<mip-jt-xianhuo-quote 
  codes="JO_74593,JO_74593,JO_95626,JO_75038,JO_75000"
></mip-jt-xianhuo-quote>
<!--metal-->
<h2>金属</h2>
<table class="hq-table">
    <thead>
      <tr>   
      <th width='35%'>名称</th>
          <th >品种种类</th>
          <th >价格</th>
          <th >跌涨</th>
          <th >日期</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a title="硅现货价格" href="https://m.cngold.org/xianhuo/m_metal_hq318.html" >硅</a></td>
        <td>--</td>
        <td class="JO_74593_q63"></td>
        <td class="JO_74593"></td>
        <td class="JO_74593_q59"></td>
      </tr>
      <tr>
        <td><a title="金属硅现货价格" href="https://m.cngold.org/xianhuo/m_metal_hq413.html" >金属硅</a></td>
        <td>--</td>
        <td class="JO_74593_q63"></td>
        <td class="JO_74593"></td>
        <td class="JO_74593_q59"></td>
      </tr>
      <tr>
        <td><a title="氟化铝现货价格" href="https://m.cngold.org/xianhuo/m_metal_hq356.html" >氟化铝</a></td>
        <td class="JO_95626">3</td>
        <td class="JO_95626_q63"></td>
        <td class="JO_95626"></td>
        <td class="JO_95626_q59"></td>
      </tr>
      <tr>
        <td><a title="电解镍粉现货价格" href="https://m.cngold.org/xianhuo/m_metal_hq399.html" >电解镍粉</a></td>
        <td>--</td>
        <td class="JO_75038_q63"></td>
        <td class="JO_75038"></td>
        <td class="JO_75038_q59"></td>
      </tr>
      <tr>
        <td><a title="无铅焊锡现货价格" href="https://m.cngold.org/xianhuo/m_metal_hq380.html" >无铅焊锡</a></td>
        <td>--</td>
        <td class="JO_75000_q63"></td>
        <td class="JO_75000"></td>
        <td class="JO_75000_q59"></td>
      </tr>
    </tbody>
</table>


<mip-jt-xianhuo-quote 
  codes="JO_74573,JO_74571,JO_74570,JO_74576,JO_74575"
></mip-jt-xianhuo-quote>
<!--gangcai-->
<h2>钢材</h2>
<table class="hq-table">
    <thead>
      <tr>   
      <th width='35%'>名称</th>
          <th >报价类型</th>
          <th >报价</th>
          <th >产地</th>
          <th >发布日期</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><a title="钨铁合金现货价格" href="https://m.cngold.org/xianhuo/m_gangcai_hq276.html" >钨铁合金</a></td>
          <td class="JO_74573_p821"></td>
          <td class="JO_74573_q63"></td>
          <td class="JO_74573_p775"></td>
          <td class="JO_74573_q59"></td>
        </tr>
        <tr>
          <td><a title="钼铁合金现货价格" href="https://m.cngold.org/xianhuo/m_gangcai_hq277.html" >钼铁合金</a></td>
          <td class="JO_74571_p821"></td>
          <td class="JO_74571_q63"></td>
          <td class="JO_74571_p775"></td>
          <td class="JO_74571_q59"></td>
        </tr>
        <tr>
          <td><a title="钒铁合金现货价格" href="https://m.cngold.org/xianhuo/m_gangcai_hq278.html" >钒铁合金</a></td>
          <td class="JO_74570_p821"></td>
          <td class="JO_74570_q63"></td>
          <td class="JO_74570_p775"></td>
          <td class="JO_74570_q59"></td>
        </tr>
        <tr>
          <td><a title="铬铁合金现货价格" href="https://m.cngold.org/xianhuo/m_gangcai_hq280.html" >铬铁合金</a></td>
          <td class="JO_74576_p821"></td>
          <td class="JO_74576_q63"></td>
          <td class="JO_74576_p775"></td>
          <td class="JO_74576_q59"></td>
        </tr>
        <tr>
          <td><a title="硅铁合金现货价格" href="https://m.cngold.org/xianhuo/m_gangcai_hq281.html" >硅铁合金</a></td>
          <td class="JO_74575_p821"></td>
          <td class="JO_74575_q63"></td>
          <td class="JO_74575_p775"></td>
          <td class="JO_74575_q59"></td>
        </tr>
    </tbody>
</table>

<mip-jt-xianhuo-quote 
  codes="JO_149455,JO_150345,JO_149107,JO_149029,JO_148045"
></mip-jt-xianhuo-quote>
<!--mucai-->
<h2>木材</h2>
<table class="hq-table">
    <thead>
      <tr>   
      <th width='35%'>名称</th>
      <th>规格</th> 
          <th >报价</th>
          <th >涨跌</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><a title="3厘麦哥利饰面板现货价格" href="https://m.cngold.org/xianhuo/m_mucai_hq1299.html" >3厘麦哥利饰面板</a></td>
          <td ></td> 
          <td class="JO_149455_q63"></td>
          <td class="JO_149455_q80"></td>
        </tr>
        <tr>
          <td><a title="麦格利木皮现货价格" href="https://m.cngold.org/xianhuo/m_mucai_hq1216.html" >麦格利木皮</a></td>
          <td ></td> 
          <td class="JO_150345_q63"></td>
          <td class="JO_150345_q80"></td>
        </tr>
        <tr>
          <td><a title="柚木地板坯料现货价格" href="https://m.cngold.org/xianhuo/m_mucai_hq1345.html" >柚木地板坯料</a></td>
          <td ></td> 
          <td class="JO_149107_q63"></td>
          <td class="JO_149107_q80"></td>
        </tr>
        <tr>
          <td><a title="铁木豆原木现货价格" href="https://m.cngold.org/xianhuo/m_mucai_hq1252.html" >铁木豆原木</a></td>
          <td ></td> 
          <td class="JO_149029_q63"></td>
          <td class="JO_149029_q80"></td>
        </tr>
        <tr>
          <td><a title="刺猬紫檀现货价格" href="https://m.cngold.org/xianhuo/m_mucai_hq1197.html" >刺猬紫檀</a></td>
          <td ></td> 
          <td class="JO_148045_q63"></td>
          <td class="JO_148045_q80"></td>
        </tr>
    </tbody>
</table>


<mip-jt-xianhuo-quote 
  codes="JO_75104,JO_75105,JO_77048,JO_76828,JO_74396"
></mip-jt-xianhuo-quote>
<!--huagong-->
<h2>化工</h2>
<table class="hq-table">
    <thead>
      <tr>   
        <th width='35%'>名称</th>
        <th >规格</th>
        <th >报价</th>
        <th >日期</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><a title="聚酯切片现货价格" href="https://m.cngold.org/xianhuo/m_huagong_hq216.html" >聚酯切片</a></td>
          <td class="JO_75104_p2650"></td>
          <td class="JO_75104_q63"></td>
          <td class="JO_75104_q59"></td>
        </tr>
        <tr>
          <td><a title="涤纶长丝现货价格" href="https://m.cngold.org/xianhuo/m_huagong_hq217.html" >涤纶长丝</a></td>
          <td class="JO_75105_p2650">-</td>
          <td class="JO_75105_q63">-</td>
          <td class="JO_75105_q59">-</td>
        </tr>
        <tr>
          <td><a title="铵盐现货价格" href="https://m.cngold.org/xianhuo/m_huagong_hq251.html" >铵盐</a></td>
          <td class="JO_77048_p2650"></td>
          <td class="JO_77048_q63"></td>
          <td class="JO_77048_q59"></td>
        </tr>
        <tr>
          <td><a title="涤纶纱现货价格" href="https://m.cngold.org/xianhuo/m_huagong_hq221.html" >涤纶纱</a></td>
          <td class="JO_76828_p2650"></td>
          <td class="JO_76828_q63"></td>
          <td class="JO_76828_q59"></td>
        </tr>
        <tr>
          <td><a title="纯苯现货价格" href="https://m.cngold.org/xianhuo/m_huagong_hq192.html" >纯苯</a></td>
          <td class="JO_74396_p2650"></td>
          <td class="JO_74396_q63"></td>
          <td class="JO_74396_q59"></td>
        </tr>
      
    </tbody>
</table>
    




<script src="https://c.mipcdn.com/static/v2/mip.js"></script>
<script src="https://mipcache.bdstatic.com/extensions/platform/v1/mip-jt-resize/mip-jt-resize.js"></script>
<script src="/mip-jt-xianhuo-quote/mip-jt-xianhuo-quote.js"></script>
  </body>
</html>
