<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
        .container {
            margin-top: 200px;
        }
    </style>
</head>
<body>
<div class="container">
    <mip-mobile-download
            url="https://app.3dmgame.com/mip/android/86378.html"
            source="1021815n"
            version-code=49
            btn-style=1
    >
    </mip-mobile-download>
</div>
<script src="https://c.mipcdn.com/static/v2/mip.js"></script>
<script src="/mip-mobile-download/mip-mobile-download.js"></script>
</body>
</html>
