<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>订购须知</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-dw-address></mip-dw-address>
    </div>
    <mip-shell-inservice mip-shell>
      <script type="application/json">
        {
          "isId": "1581486019780982",
          "routes": [{
            "pattern": "/index.html",
            "meta": {
              "header": {
                "show": true,
                "title": "到位",
                "logo": "https://www.daoway.cn/mip/common/images/logo.png"
              },
              "view": {
                "isIndex": true
              }
            }
          },
            {
              "pattern": "./about.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "关于"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./comments.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "用户评论"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./detail.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "服务详情"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./my.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "我的"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./order.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "订单"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./orderdetail.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "订单详情"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./position.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "选择小区"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./reservation.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "确认下单"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./serviceclass.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "服务列表"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./technician.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "选择技师"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./time.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "选择时间"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./vouchers.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "代金券"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./xuzhi.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "订购须知"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./search.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "搜索服务"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./searchlist.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "搜索服务"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "./address.html",
              "meta": {
                "header": {
                  "show": true,
                  "title": "添加地址"
                },
                "view": {
                  "isIndex": false
                }
              }
            },
            {
              "pattern": "*",
              "meta": {
                "header": {
                  "show": true,
                  "title": "到位上门服务"
                },
                "view": {
                  "isIndex": false
                }
              }
            }
          ]
        }
      </script>
    </mip-shell-inservice>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-shell-inservice/mip-shell-inservice.js"></script>
    <script src="../dist/mip-dw-address/mip-dw-address.js"></script>
  </body>
</html>
