<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com/static/new/mobile/css/reset.css">
    <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com/static/new/mobile/css/public.css">
    <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com/static/new/mobile/css/swiper-4.3.3.min.css">
    <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com/static/new/mobile/css/detail.css">
    <link rel="stylesheet" type="text/css" href="//img2.xuannaer.com/static/new/mobile/css/popup.css">
    <style mip-custom>
    /* 自定义样式 */
    body{
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <div>
      <mip-xuannaer-addmeet>
          <mip-data>
              <script type="application/json">
                  {
                    "imsUrl":"https://ims.xuannaer.com/",
                    "imgUrl":"http://img.ims.com",
                    "hostUrl":"http://m.ims.com/",
                    "footprintType": "3",
                    "footprintId": "9"
                  }
              </script>
          </mip-data>
        <div class="appoint">预约成功后会有专业的选址秘书与您联系 
          <span data-id="com9" class="to_entrust">立即预约</span>
        </div>
        <div class="popup">
            <div class="popup-wrapper">
                <div class="popup-content">
                    <h3 class="popup-title">您还没有选址计划
                        <div class="popup-title-quxiao">
                            <img   src="https://img2.xuannaer.com/static/new/mobile/images/pupup-xuxiao.png" alt="">
                        </div>
                    </h3>
                    <div class="popup-code">
                        <div class="popup-input" style="font-size: 0.29rem;text-align: center;">
                            添加选址计划后，6万+载体免费预约
                        </div>
                    </div>
                    <div class="popup-submit">
                        <div class="popup-submit-button popup-submit-button-cancle"><div>取消</div></div>
                        <div class="popup-submit-button popup-submit-button-determine"><div>添加</div></div>
                    </div>
                </div>
            </div>
            <div class="fixed-wrapper"></div>
        </div>
      </mip-xuannaer-addmeet>
    </div>
    <mip-rem font-size='[{"maxWidth": 415, "size": 55},{"maxWidth": 376, "size": 50}]'></mip-rem>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-xuannaer-addmeet/mip-xuannaer-addmeet.js"></script>
  </body>
</html>
