<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    body{line-height:1.6;background:#fff}
    .fw{width:100%}
    </style>
  </head>
  <body>
    <div>
      <mip-html-view url="//127.0.0.1/ad/view/ads" body="categoryId=0&size=5&page=0"></mip-html-view>
      <mip-html-view url="//127.0.0.1/ad/view/ads" init="{&quot;mode&quot;: &quot;cors&quot;, &quot;redirect&quot;: &quot;error&quot;}"></mip-html-view>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-html-view/mip-html-view.js"></script>
  </body>
</html>
