<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>订单</title>
    <link rel="canonical" href="对应的原页面地址">
    <!--<link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">-->
    <link rel="stylesheet" href="https://bos.nj.bpc.baidu.com/assets/mip/projects/mip.css">
    <style mip-custom>
        /* 自定义样式 */
        body,body:before{
            background: #f5f5f5;
        }


    </style>
</head>
<body>
<mip-data>
    <script type="application/json">
        {
            "payConfig": {
                "subject": "到位订单支付",
                "fee": 0,
                "sessionId": "",
                "redirectUrl": "",
                "endpoint": {
                    "alipay":"http://test.daoway.cn/daoway/rest/pay/ali_mip_prepay",
                    /*"weixin":"https://test.daoway.cn/daoway/rest/pay/wx_mip_prepay"*/
                },
                "postData": {

                }
            }
        }
    </script>
</mip-data>
<mip-inservice-pay m-bind:pay-config="payConfig" id="payDialog"></mip-inservice-pay>
<div><mip-dw-order on="actionpay:payDialog.toggle"></mip-dw-order></div>

<script src="https://c.mipcdn.com/static/v2/mip.js"></script>
<script src="https://c.mipcdn.com/static/v2/mip-inservice-pay/mip-inservice-pay.js"></script>
<script src="/mip-dw-order/mip-dw-order.js"></script>
<!--
<script src="https://c.mipcdn.com/static/v2/mip.js"></script>
<script src="https://c.mipcdn.com/static/v1/mip-list/mip-list.js"></script>
<script src="https://c.mipcdn.com/static/v1/mip-mustache/mip-mustache.js"></script>
<script src="https://c.mipcdn.com/static/v1/mip-semi-fixed/mip-semi-fixed.js"></script>-->
</body>
</html>
