<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-1688seo-pix src="https://log.mmstat.com/m.gif?spm-cnt=123.123&aplus&pre=DOCUMENT_REFERRER&href=SOURCE_URL&title=TITLE">
      </mip-1688seo-pix>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-1688seo-pix/mip-1688seo-pix.js"></script>
  </body>
</html>
