<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    .rank mip-img{
        display: block;width: 66px;height: 88px;box-shadow: 0 1px 3px rgba(0,0,0,.3);
    }
    .getMore{
        padding:28px;
    }
    .rank .list-ul li.hide{
        display: none;
    }
    </style>
  </head>
  <body>
    <div>
      <mip-xz6-rank>
        <section class="wrap rank">
            <div class="hd">
                <h3>小说排行</h3>
            </div>
            <mip-vd-tabs>
                <p class="tab-nav"><span>人气排行</span><span>最热排行</span></p>
                <div class="cbox">
                    <ul class="list-ul">
                        <li><a href="https://m.xz6.com/xs/128508"><mip-img src="https://thumb41.jfcdns.com/2018-01/bce5a52dfc059bfc.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">女主播的沉沦之路</span>
                                <div class="desc">　　《女主播的沉沦之路》是一部热门都市小说，主角苏成沈雪芸，如果放在几天前，苏成绝不会得出这样的观点。但就在昨夜，他曾那么近的看过了曾艳，她曾触摸过曾艳的柔软，他发现自己忽略了她，而且，妻子和别的男人做那种事的视频正在他的眼前播放……
            　　苏成的妻子很漂亮，这是大家公认的。</div>
                                <div class="info">
                                    <span class="author">膏药狐</span>
                                    <p><span>都市</span><span>免费</span><span>5.34万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/127609"><mip-img src="https://thumb52.jfcdns.com/2018-02/bce5a7aaab30f031.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">怪医圣手</span>
                                <div class="desc">　　主角是叶皓轩蓝琳琳小说名叫《怪医圣手》又名《都市奇门医圣》是一本热门都市小说，怪医圣手小说讲述实习医生叶皓轩，意外的得到一本古书上的玄术与医道传承，自此开始了不一样的人生，他银针渡人，术法渡鬼，成就济世仁心，医道问卜 、风水勘舆无所不精……
            　　清源市第一人民医院。</div>
                                <div class="info">
                                    <span class="author">一念</span>
                                    <p><span>都市</span><span>免费</span><span>818.58万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/126418"><mip-img src="https://thumb51.jfcdns.com/2018-03/bce5aa9d376a14a6.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">卸甲枭雄</span>
                                <div class="desc">　　卸甲枭雄小说是月下吟写的一本网络都市小说，主角秦渊，该小说主要讲述了主人公特种兵秦渊被开出军籍之后所经历的一系列故事……快来卸甲枭雄在线阅读吧！
            　　“混账，你知道这样做的后果是什么吗？”</div>
                                <div class="info">
                                    <span class="author">月下吟</span>
                                    <p><span>都市</span><span>免费</span><span>125.92万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/137598"><mip-img src="https://thumb42.jfcdns.com/2018-05/bce5af79aa26c64d.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">乔静陆明华</span>
                                <div class="desc">　　乔静陆明华小说的名字是《私密日记:家有美媳》，又名《家有娇娘初养成》，这是由作者玻璃糖创作的因都市言情小说。乔静、陆明华和陆平是小说的主要人物。全文讲述的是乔静和陆明华是新婚夫妻，可结婚不久，陆明华就要出差一个月，没办法乔静只能跟公公陆平住一起。可是她总觉得，公公陆平似乎对她有些不好的想法···
            　　这会儿，乔静和丈夫陆明华正在卧室里做着快乐之事。</div>
                                <div class="info">
                                    <span class="author">玻璃糖</span>
                                    <p><span>都市</span><span>免费</span><span>6万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/133639"><mip-img src="https://thumb51.jfcdns.com/2018-04/bce5acd6f773978f.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">绝代猛男</span>
                                <div class="desc">　　极品风流种又名绝代猛男，主角周二蛋刘桂香，是由作者风中凌乱所著，讲述的是主角周晓东的下面被只大马蜂蛰了一下，捂着裤裆去看医生后，才发现由小变大了，之后会发生什么呢……
            　　“七年了，终于可以回家了。”</div>
                                <div class="info">
                                    <span class="author">流浪的乌鸦</span>
                                    <p><span>都市</span><span>免费</span><span>246万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/126791"><mip-img src="https://thumb51.jfcdns.com/2018-04/bce5ad2ab89574f6.jpeg@66w_88h"></mip-img>
                            <div class="del">
                                <span class="tit">娇妻的秘密</span>
                                <div class="desc">　　娇妻的秘密是释怀所写的一本都市小说，小说讲述了主角发现了自己的娇妻有出轨的嫌疑，你的妻子出轨了你会怎么办？我的答案很简单...... 那就是跟踪找人，上门女婿入赘妻子家，看是如何反转局势一朝权势.....
            　　我媳妇叫乔甜，比我大了三岁，一米七多的身高，瓜子脸，柳叶眉</div>
                                <div class="info">
                                    <span class="author">释怀</span>
                                    <p><span>都市</span><span>免费</span><span>98万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/131172"><mip-img src="https://thumb53.jfcdns.com/2018-03/bce5a9d053c6a37e.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">一直都想嫁给你</span>
                                <div class="desc">　　白芷徐子彦小说的名字是一直都想嫁给你，白芷徐子彦小说在线阅读和大结局在哪里可以看？白芷徐子彦小说的作者是锦儿，白芷徐子彦小说别名《白色生死恋》、《爱成殇,恨无情》，全文讲述了心猛地有些发紧，徐子彦皱了皱眉，自言自语说：“白芷，不管你能玩出什么事情，我都会跟你离婚，绝无商量的余地!”可到最后徐子彦才发现，白芷才是他心爱的人，他还能挽回白芷的心吗？
            　　“白芷小姐，检验报告证明，你患了急-性-白血病，也就是俗称的血癌，建议立即住院治疗！”</div>
                                <div class="info">
                                    <span class="author">锦儿</span>
                                    <p><span>都市</span><span>免费</span><span>6万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/124022"><mip-img src="https://thumb41.jfcdns.com/2017-11/bce59f9719888749.jpeg@66w_88h"></mip-img>
                            <div class="del">
                                <span class="tit">我们之间隔着永远</span>
                                <div class="desc">　　主角是季凉川沈清依小说名叫《我们之间隔着永远》是澜沁写的一本言情小说，也是目前比较的火一本言情小说，作者澜沁。我们之间隔着永远结局讲述沈清依认识了季凉川多少年就爱了他多少年，尽管这两年的婚姻季凉川对她从来没有好脸色，她却费尽心思讨好他···
            　　沈清依看着眼前的亲子鉴定</div>
                                <div class="info">
                                    <span class="author">澜沁</span>
                                    <p><span>都市</span><span>免费</span><span>6.5万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/146548"><mip-img src="https://thumb42.jfcdns.com/2018-07/bce5b4bfbc82a5ad.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">娇妻出墙</span>
                                <div class="desc">　　苏晴杨大明小说名叫《娇妻出墙》，又名《书房娇妻》《儿媳妇》，娇妻出墙小说的主要人物是苏晴杨彬杨大明，是由网络作家夫子所创作的一本都市小说。娇妻出墙在线阅读，讲述的是女主苏晴的老公是杨彬，在老公出差的时候，苏晴和自己的公公杨大明发生了一些不可描述的事情。
            　　苏晴身材高挑，脸蛋俊俏，气质高雅，一双水汪汪的媚眼顾盼多姿。</div>
                                <div class="info">
                                    <span class="author">夫子</span>
                                    <p><span>都市</span><span>免费</span><span>11万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/136708"><mip-img src="https://thumb42.jfcdns.com/2018-05/bce5aefcb4c918ea.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">周二蛋刘桂香</span>
                                <div class="desc">　　周二蛋刘桂香小说名字叫做绝代猛男，是由作者风中凌乱所创作的一本精彩都市类小说。周二蛋刘桂香全文主要讲述的是男主周晓东有个外号叫周二蛋，原因是那东西长的小，这事全村人都知道。而女主刘桂香是在卫生室干活。他们俩之间究竟会发生怎样精彩的故事呢？
            　　透蓝的天空挂着火球一般的太阳，就连云彩好像都受不住阳光的照射，躲的无影无踪。</div>
                                <div class="info">
                                    <span class="author">风中凌乱</span>
                                    <p><span>都市</span><span>免费</span><span>247万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/137594"><mip-img src="https://thumb43.jfcdns.com/2018-05/bce5af794c93ee8e.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">叶凡司空嫣然</span>
                                <div class="desc">　　叶凡司空嫣然小说书名叫我的小姨，作者是风起长林，是一本精彩的都市类小说。叶凡司空嫣然全文讲述了男主叶凡考上大学之后，借住到他的小姨家里，自从搬到小姨家，每晚他都艳福不浅……这背后究竟发生了什么故事呢？
            　　我从小就没见过我妈，我爸跟我说，我妈是在我小时候跟人跑了，因此我从小就对女人没什么好印象。</div>
                                <div class="info">
                                    <span class="author">风起长林</span>
                                    <p><span>都市</span><span>免费</span><span>306万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/136057"><mip-img src="https://thumb41.jfcdns.com/2018-07/bce5b5671265a2cf.png"></mip-img>
                            <div class="del">
                                <span class="tit">康二蛋迟慧萍</span>
                                <div class="desc">　　康二蛋迟慧萍小说名叫后妈的秘密，是由作者小手拍拍所著的一本都市小说，又名《对不起,后妈》《后妈的诱惑90后风流种子》。康二蛋迟慧萍全文讲述了偶然拥有异能的村里人康二蛋所经历的人生起伏，全程高能哦。
            　　夜色深沉，如铺天巨被，繁星点点……就好像被子上被戳了无数个窟窿。</div>
                                <div class="info">
                                    <span class="author">小手拍拍</span>
                                    <p><span>都市</span><span>免费</span><span>5万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>                                 
                    </ul>
                    <p class="getMore"><span>点击查看更多</span></p>
                </div>
                <div class="cbox">
                    <ul class="list-ul">
                        <li><a href="https://m.xz6.com/xs/161647"><mip-img src="https://thumb42.jfcdns.com/2018-11/28/16f5bfe655bae331.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">我已爱上你</span>
                                <div class="desc">　　《我已爱上你》是一部非常好看的都市小说，为网络作者摩丝所写，陈超赵悦柳如絮是这本书中的主要人物。这本小说全文讲述了陈超和妻子柳如絮结婚多年，生活一直过得平淡幸福，他的丈母娘赵悦因为保养得当，看起来还十分年轻漂亮，可没想到那天下班回家，竟让他撞见丈母娘在做那种事情。
            　　陈超没有回应柳如絮，而是温柔的吻着柳如絮，慢慢的，柳如絮开始</div>
                                <div class="info">
                                    <span class="author">摩丝</span>
                                    <p><span>都市</span><span>免费</span><span>1.3万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/137597"><mip-img src="https://thumb41.jfcdns.com/2018-07/bce5b49babaa787f.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">私密日记:家有美媳</span>
                                <div class="desc">　　《私密日记:家有美媳》又名《家有娇娘初养成》，是作者玻璃糖创作的一本现代都市言情小说。主角是陆明华、乔静和陆平。全文主要讲述的是乔静和陆明华感情深厚，终于顺理成章的成了亲。陆明华什么都好，就是有个失去伴侣十多年的老爸。不知道是不是她的错觉，她总觉得公公的眼神怪怪的，而且她还听别人说过公公私生活不检点···
            　　这会儿，乔静和丈夫陆明华正在卧室里做着快乐之事。</div>
                                <div class="info">
                                    <span class="author">玻璃糖</span>
                                    <p><span>都市</span><span>免费</span><span>8万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/128074"><mip-img src="https://thumb41.jfcdns.com/2017-12/bce5a45e44835c69.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">我和你不一样的爱情</span>
                                <div class="desc">　　林薇子宋曦晨大结局是什么？林薇子宋曦晨小说名字是我和你不一样的爱情，这本书作者鱼幼薇。我和你不一样的爱情主要讲述在遇到宋曦晨之前，林薇子强迫着自己爱那个侵犯了她多年的恶魔，一味的逆来顺受，却让她如同活在地狱……
            　　我爱上了一个强奸犯他长达性侵我四年，并且我有了他第二个孩子。</div>
                                <div class="info">
                                    <span class="author">鱼幼薇</span>
                                    <p><span>都市</span><span>免费</span><span>3万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/133025"><mip-img src="https://thumb51.jfcdns.com/2018-04/bce5ac1debe46173.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">欢夜</span>
                                <div class="desc">　　主角是偷窥狂郑昆的小说名字是欢夜，这是由作者潇潇又几夜所著的一部现代都市类型的小说，讲述的是主角郑昆成为房东后，给每个出租屋装上了针孔摄像头……
            　　每个人都有一些不为人知的癖好。我的癖好，是偷窥。</div>
                                <div class="info">
                                    <span class="author">潇潇又几夜</span>
                                    <p><span>都市</span><span>免费</span><span>182万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li><a href="https://m.xz6.com/xs/132222"><mip-img src="https://thumb52.jfcdns.com/2018-03/bce5ab0746ce1e5a.jpeg"></mip-img>
                            <div class="del">
                                <span class="tit">当爱已逝,画牢成魔</span>
                                <div class="desc">　　《当爱已逝,画牢成魔》是一本现代虐心小说，由作者骄阳似火创作，主要讲述了安灵沈向磊的爱情故事。所有人都说安灵和沈向磊在一起只是为他的钱，她爱的人只有她的青梅竹马季新安，安灵只觉得可笑，原来她的爱情，还要靠别人的认定。但当爱已不能再爱，她情愿画地为牢。
            　　安灵这辈子最幸福的时刻就是嫁给沈向磊的那一天</div>
                                <div class="info">
                                    <span class="author">骄阳似火</span>
                                    <p><span>都市</span><span>免费</span><span>6万字</span></p>
                                </div>
                            </div>
                        </a>
                        </li>                      
                    </ul>
                    <p class="getMore"><span>点击查看更多</span></p>
                </div>
            </mip-vd-tabs>
            </section>
      </mip-xz6-rank>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-vd-tabs/mip-vd-tabs.js"></script>
    <script src="/mip-xz6-rank/mip-xz6-rank.js"></script>
  </body>
</html>
