<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    </style>
  </head>
  <body>
    <div>
      <mip-query-price></mip-query-price>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-script/mip-script.js"></script>
    <script src="/mip-query-price/mip-query-price.js"></script>
    <mip-script>
      var document = MIP.sandbox.document;
      var window = MIP.sandbox.window;
      (function (doc, win) {
          var docEl = doc.documentElement,
              resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
              recalc = function () {
                  var clientWidth = docEl.clientWidth;
                  if (!clientWidth) return;
                  if(clientWidth>=750){
                      docEl.style.fontSize = '100px';
                  }else{
                      docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                  }
              };
          if (!doc.addEventListener) return;
          win.addEventListener(resizeEvt, recalc, false);
          recalc();
      })(document, window);
    </mip-script>
  </body>
</html>
