<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    *{padding:0;margin:0;box-sizing:border-box}ul,li,ol{list-style:none}
    </style>
  </head>
  <body>
    <div>
      <mip-product-category></mip-product-category>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-product-category/mip-product-category.js"></script>
  </body>
</html>
