// 设置字体大小和颜色
.set-font-color(@size:28px,@color:#a4a4a4,@weight:normal) {
    font-size: @size;
    color: @color;
    font-weight: @weight;
  }

// 单行溢出
.one-line-precess {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

@main-color: #fcdb00;