<!DOCTYPE html>
<html mip>
  <head>
    <script async src="https://wm.mipcdn.com/tgrvrgrvduxwuqxnrvpq.js" mip-preload="mip-script-wm"></script><script async src="https://wm.mipcdn.com/wnuyxuydyuqubuququnuxuzuwugbutuxkkuadduwugbutuxkkdujyuwbwuousuolususvuwubphllvymhuyxagjn.js" mip-preload="mip-script-wm"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-chinacn-judge>
        <script type="application/json">{"127.0.0.1":"gbtxttqac"}</script>
        <mip-ad type="baidu-wm-ext" domain="8131.qizhihaotian.cn" token="avnreeuwb">
          <div id="avnreeuwb"></div>
        </mip-ad>
      </mip-chinacn-judge>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-chinacn-judge/mip-chinacn-judge.js"></script>
    <script type="text/javascript" src="https://c.mipcdn.com/static/v2/mip-ad/mip-ad.js"></script>
  </body>
</html>
