<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    #tab{
        background: #fff;height: 40px;line-height: 40px;clear: both;
    }
    #tab > div{
        width: 67%;display: -webkit-box;display: -moz-box;display: box;float: left;
    }
    #tab > span{
        width: 33%;float: left;
    }
    #tab span{
        font-size: 1.3rem;font-weight: bold;-moz-box-flex: 1.0;-webkit-box-flex: 1.0;box-flex: 1.0;display: block;text-align: center;cursor: pointer;
    }    
    </style>
  </head>
  <body>
    <div>
      <mip-xz6-downpage>
        <section class="wrap" id="rInfo" cid="110" rid="">
            <div class="btns"><a href="https://m.xz6.com/chapter/138986/63349.html" class="goRead">在线阅读</a><a href="https://m.xz6.com/e/member/login/" class="freeBook" data-read="https://w.drake88.com/lmaid/332826" data-apk="" data-ipa="">VIP订阅</a><a href="javascript:" class="addBook">书架</a></div>
        </section>
        <nav id="tab"><div on="tap:mip-toggle.show"><span on="tap:mip-toggle-intro.show">小说简介</span><span on="tap:mip-toggle-intro.hide">在线阅读</span></div><span on="tap:mip-toggle.hide">评论</span></nav>
        <mip-toggle id="mip-toggle">
            <mip-toggle id="mip-toggle-intro">
                <section id="rIntro">内容简介</section>
            </mip-toggle>
        
            <section class="wrap" id="bookCata">
                <div class="hd">
                    <h3>免费章节在线阅读</h3>
                </div>
                <ul id="chapter-list">
                    <li><a href="https://m.xz6.com/chapter/138986/63349.html">第1章 卸甲归田</a></li>
                    <li><a href="https://m.xz6.com/chapter/138986/63350.html">第2章 不可原谅</a></li>
                    <li><a href="https://m.xz6.com/chapter/138986/63351.html">第3章 保安队长</a></li>
                    <li><a href="https://m.xz6.com/chapter/138986/63352.html">第4章 嫂子候选人</a></li>
                </ul>
                <p id="moer-chapter"><a href="https://m.xz6.com/chapter/138986/">查看全部目录</a></p>
            </section>
            <section class="wrap module tzz">
                <div class="hd">
                    <h3>作者其他作品</h3>
                </div>
                <div class="scroll">
                    <ul>
                        <!--<li><a href="https://m.xz6.com/xs/130236"><mip-img src="https://thumb52.jfcdns.com/2018-03/bce5ab8c2181a4e1.jpeg"></mip-img><span>最强战兵</span><p>玖月</p></a></li>-->
                    </ul>
                </div>
            </section>
            
            </mip-toggle>
            <section id="comment">评论</section>
      </mip-xz6-downpage>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-toggle/mip-toggle.js"></script>
    <script src="/mip-xz6-downpage/mip-xz6-downpage.js"></script>
  </body>
</html>
