<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>hellohellohellohellohellohellohellohellohellohellohellohellohellohello</div>
    <script type="application/ld+json">{"@context": "https://zhanzhang.baidu.com/contexts/cambrian.jsonld","@id": "landingshare.mbd.baidu.com/newspage/index.php/data/landingshare?context=%7B%22nid%22%3A%22news_9045816516797442715%22%2C%22sourceFrom%22%3A%22bjh%22%2C%22url_data%22%3A%22bjhauthor%22%7D","title": "鱼身上的这个部位，千万别扔！女人常吃滋阴抗衰老，补充胶原蛋白","images": ["http://t11.baidu.com/it/u=3422587123,3381375245&fm=173&app=25&f=JPEG?w=640&h=480&s=7F95F6AE442186E25BAAA36C0300B05B&access=215967316"],"description": "","pubDate": "2018-08-23T14:31:20"}</script>
    <div>
      <mip-cambrian site-id="12345"></mip-cambrian>
    </div>
    <div>hellohellohellohellohellohellohellohellohellohellohellohellohellohello</div>
    <script type="application/ld+json">{"@context": "https://zhanzhang.baidu.com/contexts/cambrian.jsonld","@id": "landingshare.mbd.baidu.com/newspage/index.php/data/landingshare?context=%7B%22nid%22%3A%22news_9045816516797442715%22%2C%22sourceFrom%22%3A%22bjh%22%2C%22url_data%22%3A%22bjhauthor%22%7D","appid": "1549315372074644","title": "鱼身上的这个部位，千万别扔！女人常吃滋阴抗衰老，补充胶原蛋白","images": ["http://t11.baidu.com/it/u=3422587123,3381375245&fm=173&app=25&f=JPEG?w=640&h=480&s=7F95F6AE442186E25BAAA36C0300B05B&access=215967316"],"description": "你好呀，hellool","pubDate": "2018-08-23T14:31:20"}</script>
    <div>hellohellohellohellohellohellohellohellohellohellohellohellohellohello</div>
    <script type="application/ld+json">{"@context": "https://zhanzhang.baidu.com/contexts/cambrian.jsonld","@id": "landingshare.mbd.baidu.com/newspage/index.php/data/landingshare?context=%7B%22nid%22%3A%22news_9045816516797442715%22%2C%22sourceFrom%22%3A%22bjh%22%2C%22url_data%22%3A%22bjhauthor%22%7D","appid": "1549315372074644","title": "鱼身上的这个部位，千万别扔！女人常吃滋阴抗衰老，补充胶原蛋白","images": ["http://t11.baidu.com/it/u=3422587123,3381375245&fm=173&app=25&f=JPEG?w=640&h=480&s=7F95F6AE442186E25BAAA36C0300B05B&access=215967316"],"description": "","pubDate": "2018-08-23T14:31:20"}</script>
    <div>hellohellohellohellohellohellohellohellohellohellohellohellohellohello</div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-cambrian/mip-cambrian.js"></script>
  </body>
</html>
