<!DOCTYPE html>
<html mip="" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>MIP page</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom="">
    /* 自定义样式 */
    </style>
</head>
<body>
   <mip-tnm-shell mip-shell="">
            <script type="application/json">
    {
      "routes": [
        {
          "pattern": "/use-shell.html",
          "meta": {
            "header": {
              "show": true,
              "title": "我的首页",
              "logo": "https://gss0.bdstatic.com/5bd1bjqh_Q23odCf/static/wiseindex/img/favicon64.ico",
              "homeUrl":"https://testnewmoudle7.no2.35nic.com/mip/templates/default/index.html",
              "lanUrl":"https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetLanguageEdition",
              "sidebarmenuUrl":"https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetQuickMenu?editionId=1&intTop=12",
              "footermenuUrl":"https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetBottomMenu?editionId=1&intTop=5",
              "nmsorttitleUrl":"https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetSysNMSortList?menuIndexVar=",
              "allnmsortUrl":"https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetSysNMSortAllList"
            },
            "view": {
              "isIndex": true
            }
          }
        },
        {
          "pattern": "*",
          "meta": {
            "header": {
              "show": true,
              "title": "其他页面",
               "homeUrl":"https://testnewmoudle7.no2.35nic.com/mip/templates/default/index.html",
              "lanUrl":"https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetLanguageEdition",
              "sidebarmenuUrl":"https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetQuickMenu?editionId=1&intTop=12",
              "footermenuUrl":"https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetBottomMenu?editionId=1&intTop=5",
              "nmsorttitleUrl":"https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetSysNMSortList?menuIndexVar=",
              "allnmsortUrl":"https://testnewmoudle7.no2.35nic.com/open_webapi/MofineApi.asmx/GetSysNMSortAllList"
            }
          }
        }
      ]
    }
            </script>
        </mip-tnm-shell>

    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-tnm-shell/mip-tnm-shell.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-toggle/mip-toggle.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-sidebar/mip-sidebar.js"></script>
</body>
</html>