<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  </head>
  <body>
    <div>
      <mip-example></mip-example>
    </div>
    <!-- mip-baobao-list -->
    <mip-baobao-list
      template="mip-template-id"
      src="./data.js"
      id="mip-list"
      has-more
      pn-name="pn"
      rn-name="rn"
      pn="2"
      rn="1"
      data-normal="1"
      timeout="3000"
      end-text='数据加载完毕'
    >
    <template type="mip-mustache" id="mip-template-id">
      <div>
        <li>name: {{ name }}</li>
        <li>alias: {{ alias }}</li>
      </div>
    </template>
  </mip-baobao-list>
  <button on="tap:mip-list.more" class="mip-list-more">点击查看更多</button>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-mustache/mip-mustache.js"></script>
    <script src="/mip-example/mip-example.js"></script>
    <script src="/mip-baobao-list/mip-baobao-list.js"></script>
  </body>
</html>
