<!DOCTYPE html>
<html mip>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>蓝色表现什么心情？蓝色表现什么心情，怎么去表现？ – 手机爱问</title>
		<meta name="description" content="蓝色表现什么心情？蓝色表现什么心情，怎么去表现？：
		蓝色代表着一种平静、稳定。蓝色能给人一种和谐、宽松的感觉。喜欢蓝色的人，一般而言比较容易伤感。这类人	
		 "/>
		<meta name="keywords" content="情感情绪，蓝色表现什么心情？蓝色表现什么心情，怎么去表现？"/>
		<link rel="stylesheet" href="https://mipcache.bdstatic.com/static/v2/mip.css">
    <link rel="canonical" href="https://m.iask.sina.com.cnhttps://m.iask.sina.com.cn/b/wdag72Py0f/b.html">
    <style mip-custom>
        body{ background-color: #f2f2f2; padding-top: 44px;}
        header{background-color: #ef5231; height: 44px; line-height: 44px;  text-align: center; width: 100%; position: fixed; left: 0; top:0; z-index: 80;}
        .mt10{ margin-top: 10px;}
        .v-middle{display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center;-webkit-align-items: center; align-items: center;-webkit-box-pack: center;-webkit-justify-content: center;justify-content: center;}
        .answer-mask-txt::after,.index-search-con .btn-search::before,.icon-iasklogo{ display: block; overflow: hidden; }
        .m-mip-user-bar .btn-op::before,.btn-menu-new::before{ display: block; overflow: hidden;}
        .crumb-mask .arrow_close,.m-b-other-title .link-change::before,.crumb-mask-list dl dd a.active::after,.crumb-mask-list .title-text::before{ display: block;overflow: hidden;}
        .btn-menu-new{width: 40px;z-index: 10;height: 40px;position: absolute;top: 50%;margin-top: -20px;display: block; right: 5px;}
        .btn-menu-new::before{width: 20px;height: 16px; position: absolute; left: 50%; top:50%; margin: -8px 0 0 -10px;background-position: -15px 0; content: "";}
        .index-search-con{position: absolute; z-index: 5;left: 63px;  right: 54px; top: 7px;}
        .index-search-con .btn-search{height: 30px; line-height: 30px; background-color: #fff; border-radius: 30px; color: #999; cursor: pointer;}
        .index-search-con .btn-search::before{width: 17px;height: 16px;background-position: -60px 0;margin-right: 10px;content: "";}
        .icon-iasklogo{width: 38px;height: 26px; background-position: 0 0;  position: absolute;left: 9px;top: 8px;}
        .menu-more{width: 110px;background-color: #828282;position: absolute;z-index: 50;right: 0;top: 44px;line-height: 40px;border-radius: 4px;  box-shadow: 0 1px 2px rgba(0,0,0,.13);display: none;}
        .menu-more::before{width:0;height:0;position:absolute;border-width:4px;border-style:solid;border-color:transparent transparent #828282 transparent;top:-8px;right:16px;content:""}
        .menu-more a{display: block;border-bottom: 1px solid #8f8f8f;color: #f6f6f6;position: relative;padding-left: 33px;}
        .menu-more a::before{width:18px;height:18px;position:absolute;left:8px;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);display:block;content:"";}
        .menu-more .icon-ency-message::before{background-position:0 0}
        .menu-more .icon-ency-task::before{background-position:-20px 0}
        .menu-more .icon-ency-grow::before{background-position:-40px 0}
        .menu-more .icon-ency-out::before{background-position:-60px 0}
        .menu-more .icon-b-home::before{background-position:-80px 0}
        .menu-more .icon-b-login::before{background-position:-100px 0}
        .mip-crumb{height: 24px; line-height: 24px; padding: 7px 15px 0; color: #999; background-color: #fff;}
        .mip-crumb a{ color: #555;}
        .mip-crumb a:first-child{ color: #999;}
        .crumb-mask{width: 260px;position: fixed;height: 100%;z-index: 999;top: 0;right: -260px; display: none;background-color: #3b3b3b;overflow: visible;}
        .crumb-mask .arrow_close{display: block;  width: 28px;height: 28px;position: absolute;left: -30px;top: 50%;    background-position: -125px 0;margin-top: -14px; cursor: pointer;}
        .crumb-mask-list{position: relative;height: 100%;overflow-y: auto; width: 100%;}
        .crumb-mask-list dl{padding-bottom: 50px; line-height: 44px;}
        .crumb-mask-list .title-text{position: relative;font-size: 14px;font-weight: 400;color: #fff;padding-left: 25px;  }
        .crumb-mask-list .title-text::before{width: 13px; height: 7px;position: absolute;display: block;left: 10px;top: 50%; margin-top: -3.5px;background-position: -110px 0; content: "";}
        .crumb-mask-list .title-text a{ color: #fff;}
        .crumb-mask-list dl dd{padding-left: 25px; border-top: 1px solid #4b4b4b;}
        .crumb-mask-list dl dd a{ display: block; color: #fff; display: -webkit-box;  display: -webkit-flex; display: flex;  -webkit-box-align: center;  -webkit-align-items: center;align-items: center;}
        .crumb-mask-list dl dd a.active::after{width: 17px;height: 17px; display:inline-block;background-position: -90px 0; margin-left: 5px; vertical-align: middle; content: "";}
        .mip-html{ background-color: #fff; padding-top: 6px;}
        .mip-html p{padding: 0;}
        .m-b-question{padding: 0 15px 8px 15px;}
        .m-b-question-title{font-size: 20px;line-height: 24px;padding: 5px 0; color: #1a1a1a;word-break: break-all;word-wrap: break-word; font-weight: bold;}
        .m-b-question-con{font-size: 16px;line-height: 23px;color: #656565;position: relative;}
        .hot-word{ color: #196ba7;}
        .m-b-user-bar{padding-bottom: 4px;height: 22px;line-height: 22px;position: relative;overflow: hidden;  font-size: 12px;}
        .m-b-user-bar .b-user-info{float: left;display: block; cursor: pointer;font-size: 12px;}
        .m-b-user-bar .b-user-name{float: left;display: block;max-width: 72px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #666;}
        .m-b-user-bar .btn-b-report{float: left;cursor: pointer;position: relative;margin-left: 20px;color: #cbcbcb;}
        .m-b-goods{position: relative; padding: 0;}
        .m-b-goods::before{ height: 1px;background-color: #e8e8e8; position: absolute; left: 0; right: 0; top:0; -webkit-transform: scaleY(.5);transform: scaleY(.5); content: "";}
        .m-b-goods-title{height: 40px; line-height: 40px;font-size: 18px;color: #f25125;position: relative;padding-left: 14px;padding-top: 6px;  font-weight: bold;}
        .m-b-goods-title::before{width: 3px;height: 17px;background: #f15125;position: absolute;left: 0;top: 18px;content: "";}
        .m-b-goods-item{ padding: 0 15px 10px;}
        .m-relevant-title{height: 40px; line-height: 40px;font-size: 18px;color: #434343;position: relative;padding-left: 14px;padding-top: 6px;  font-weight: bold;}
        .m-relevant-title::before{width: 3px;height: 17px;background: #f15125;position: absolute;left: 0;top: 18px;content: "";}
        .m-mip-user-bar{font-size: 12px;position: relative;clear: both;height: 18px;line-height: 18px;padding: 7.5px 0;overflow: hidden;}
        .m-mip-user-bar .user-pic{width: 18px;height: 18px; border-radius: 18px; overflow: hidden; margin-right: 6px; float: left;}
        .m-mip-user-bar .user-name{font-size: 14px;color: #656565; float: left;}
        .m-mip-user-bar .time-text{margin-left: 10px; color: #999; float: left;}
        .m-mip-user-bar .op-con{position: absolute; right: 0; top:7.5px; }
        .m-mip-user-bar .btn-op{display: block;float: left; height: 18px; padding-left: 21px;cursor: pointer;color: #434343;font-size: 12px;  position: relative;}
        .m-mip-user-bar .btn-op::before{position: absolute;left: 0;top: 50%;transform: translateY(-50%);  -webkit-transform: translateY(-50%);content: "";}
        .m-mip-user-bar .btn-b-good::before{width: 17px; height: 15px; background-position: 0 -25px;}
        .m-mip-user-bar .btn-b-comment{margin-left: 20px;}
        .m-mip-user-bar .btn-b-comment::before{width: 16px;height: 16px;background-position: -20px -25px;}
        .m-mip-answer-txt{line-height: 26px;font-size: 17px; color: #333; word-break: break-all;}
        .m-mip-cut{ background-color: #fff; position: relative; overflow: hidden;}
        .m-other-answer{ position: relative;}
        .m-other-answer::before{height: 1px;background-color: #e8e8e8; position: absolute; left: 0; right: 0; top:0; -webkit-transform: scaleY(.5);transform: scaleY(.5); content: "";}
        .m-b-other-title{height: 40px;line-height: 40px; font-size: 18px;color: #434343;position: relative;padding-left: 14px;padding-top: 6px;  font-weight: bold;}
        .m-b-other-title .link-change{position: absolute;right: 15px; padding-left: 18px; cursor: pointer; font-size: 14px;font-weight:normal; color: #999;}
        .m-b-other-title .link-change::before{width: 14px;height: 13px;background-position: -20px -30px; position: absolute; left: 0; top:50%; margin-top: -6.5px; content: "";}
        .m-other-list-item{padding: 0 15px 10px;}
        .mip-comment{background-color: #efede8;padding: 15px 10px;margin-top: 7px; display: none;}
        .m-b-reply-con{height: 34px;line-height: 34px; overflow: hidden;}
        .m-b-reply-con .btn-b-reply{width:58px;height:34px;display:block;float:right;margin-left:7px;background-color:#f25125;border-radius:4px;font-size:13px;color:#fff;text-align:center; border: none; outline:none;}
        .b-reply-input-con{overflow:hidden;height:32px;line-height:32px;background-color:#fff;border:1px solid #d4cece;border-radius:4px;box-shadow:inset 0 2px 3px rgba(0,0,0,.08);}
        .b-reply-input-con input[type=text]{ width: 100%; padding: 0 10px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0 none;}
        .answer-mask-box{width: 100%;height: 38px;position: absolute;left: 0;bottom: 0; display: none;}
        .answer-mask{width: 100%;height: 64px; position: absolute;left: 0;bottom: 34px;background-image: -webkit-linear-gradient(top,hsla(0,0%,100%,0),#fff); background-image: linear-gradient(top,hsla(0,0%,100%,0),#fff);z-index: 1; display: block;}
        .answer-mask-txt{color:#656565;font-size:17px;position:absolute;z-index:10;background:#fff;padding-bottom:10px;line-height:28px; left: 0; bottom: 0; width: 100%;}
        .answer-mask-txt::after{width: 12px;height: 7px; background-position: -84px -34px; margin-left: 3px; content: "";}
        .m-similar-con{ background-color: #fff;}
        .m-similar-list{overflow: hidden; padding: 0 15px; line-height: 44px; font-size: 17px;}
        .m-similar-list li{ position: relative; padding-left: 27px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
        .m-similar-list li::after{height: 1px; position: absolute; left: 0; right: 0; top:0; background-color: #e8e8e8; -webkit-transform: scaleY(.5);transform: scaleY(.5); content: "";}
        .m-similar-list li:first-child::after{ display: none;}
        .m-similar-list li::before{ width: 16px; height: 16px; line-height: 16px; color: #f15125;border: 1px solid #f15125; position: absolute; left: 0; top:50%; margin-top: -9px; font-size: 12px; text-align: center; content: "问";}
        .m-similar-list li a{ color: #212121;}
        .mip-hot-top{ background-color: #fff; padding-bottom: 15px;}
        .mip-hot-scroll{width: 100%; padding-left: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; overflow-x:auto; height: 108px; }
        .mip-hot-scroll::-webkit-scrollbar {display: none;}
        .mip-hot-list{overflow: hidden;}
        .mip-hot-list li{ width: 150px;height: 108px; background-color: #000; float: left;overflow: hidden;position: relative; margin-right: 10px; border-radius: 2px; list-style: none;}
        .mip-hot-list li a{ display: block; cursor: pointer;}
        .mip-hot-list li .text-con{ position: absolute; width: 100%; padding: 0 10px; -webkit-box-sizing: border-box; box-sizing:border-box;z-index: 9; left: 0; top:50%; -webkit-transform: translateY(-50%);transform: translateY(-50%);}
        .mip-hot-list li .title-text{font-size: 16px;color: #fff;margin-bottom: 5px;max-height: 42px;overflow: hidden; line-height: 21px;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;}
        .mip-hot-list li .list-pic{ width: 150px; height: 108px; border-radius: 2px; opacity: .4;}
        .mip-hot-list li .get-text{ font-size: 12px; line-height: 18px; color: #b2b2b3;}
        .mip-relevant{ background-color: #fff;}
        .mip-tab-nav{ height: 50px; line-height: 50px; position: relative; font-size: 0;}
        .mip-tab-nav::after{height: 1px; position: absolute; left: 0; right: 0; bottom: 0; background-color: #e8e8e8; -webkit-transform: scaleY(.5);transform: scaleY(.5); content: "";}
        .mip-tab-nav .nav-ele{display: inline-block; font-size: 18px; padding-top: 6px; padding-left: 15px;text-align: left; font-weight: bold; color: #434343;}
        .mip-relevant-list{ padding: 0 15px;}
        .mip-relevant-list li{padding: 10px 0;position: relative; list-style: none; overflow: hidden;}
        .mip-relevant-list li::before{ height: 1px;position: absolute; left: 0; right: 0; top: 0; background-color: #e8e8e8; -webkit-transform: scaleY(.5);transform: scaleY(.5); content: "";}
        .mip-relevant-list li:first-child::before{ display: none;}
        .mip-tabs-con{ display: none;}
        .mip-tabs-con.current{display: block;}
        .mip-relevant-list li .list-pic{width: 112px;height: 81px;float: right; overflow: hidden;border-radius: 2px; margin-left: 10px;}
        .mip-relevant-list li .text-box{overflow: hidden;}
        .mip-relevant-list li .relevant-title{font-size: 19px; line-height:28px; height: 56px;overflow: hidden;display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2; }
        .mip-relevant-list li .data-text{ font-size: 14px; line-height: 21px; color: #999;}
        .mip-loading-more{color:#999;height:40px;text-align:center;line-height:40px;}
        .ani_dot{display: inline-block; width: 1.5em; vertical-align: bottom; overflow: hidden;-webkit-animation:dot 1s infinite step-start;animation:dot 1s infinite step-start;}
        .mip-hot-search{background-color: #fff; padding-bottom: 10px;}
        .hot-search-ul{padding: 0 10px; line-height: 32px; font-size: 16px; overflow: hidden;}
        .hot-search-ul li{ list-style: none; width: 50%; float: left; padding: 0 5px; -webkit-box-sizing: border-box; box-sizing: border-box;white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
        .hot-search-ul li a{ color: #999;}
        .mip-footer{padding: 10px 0;text-align: center;color: #888; line-height: 21px; position: relative;}
        .mip-footer::before{ height: 1px; background-color: #d9d9d9; position:absolute; left: 0; right: 0; top:0; -webkit-transform: scaleY(.5);transform: scaleY(.5); content: "";}
        .footer-nav{ height: 24px; line-height: 24px; font-size: 0;}
        .footer-nav a{color: #734937;font-size: 14px;display:inline-block; vertical-align: middle;}
        .footer-nav a::after{width: 1px;height: 12px;display:inline-block;vertical-align: middle;  background-color: #e4e4e4; margin: 0 7px; content: "";}
        .footer-nav a:last-child::after{ display: none;}
        .mip-footer .copy{ font-size: 12px;color: #bfbfbf;}
        .mip-er-code{text-align: center; line-height: 30px; font-size: 15px; color: #333;}
        .mip-er-code .code-pic{width: 82px; height: 82px;margin: 0 auto;}
        .red-color{color: #e5210e;}
        .hide{display: none !important;}
        .show{display: block !important; }
        .mip-showmore-btn{ border: 0px; height: 18px; padding: 0px;}
        .mip-showmore-btn-hide{display: none !important;}
        @-webkit-keyframes dot{
            0%{width:0;margin-right:1.5em}
            33%{width:.5em;margin-right:1em}
            66%{width:1em;margin-right:.5em}
            100%{width:1.5em;margin-right:0}
        }
        @keyframes dot{
            0%{width:0;margin-right:1.5em}
            33%{width:.5em;margin-right:1em}
            66%{width:1em;margin-right:.5em}
            100%{width:1.5em;margin-right:0}
        }
        .m-answer-null{background-color: #fff;padding: 14px 0 10px;line-height: 22px; font-size: 12px;text-align: center;color: #999;}
        .m-answer-null::before{width: 22px; height: 22px;display:block; overflow:hidden; margin: 0 auto 2px;content: "";}
    </style>
</head>
<body>	
    
    <header>
    <i class="icon-iasklogo"></i>
    <a class="btn-menu-new" href="https://m.iask.sina.com.cn" target="_blank"></a>
    <div class="index-search-con"><a class="btn-search v-middle" href="/search.html">搜索</a></div>
</header>
<div class="menu-more">
    <a class="icon-b-home" href="https://m.iask.sina.com.cn" target="_blank">爱问首页</a>
    <a class="icon-b-home" href="https://m.iask.sina.com.cn/shopping.html" target="_blank">爱问商城</a>
    <a class="icon-b-login" href="https://m.iask.sina.com.cn/login" target="_blank">登录</a>
</div>

<div class="mip-crumb">
<a href="https://m.iask.sina.com.cn" class="home">首页</a><span>></span>   
	<a href="https://m.iask.sina.com.cn/c/81.html"  class="sub1">烦恼</a>
		<span>></span><a href="https://m.iask.sina.com.cn/c/180.html"  class="sub2">情感情绪</a>
		</div>
</div>
<div class="parent-CategoryId" categoryId="81"></div>
<section class="m-mip-cut">
        <mip-showmore bottomshadow='1' maxheight='screen:0.7' id="showmoreWhitePaper">
        <section class="mip-html m-b-question">
    <h1 class="m-b-question-title">蓝色表现什么心情？</h1>
    <div class="m-b-question-con">
	        <mip-showmore  maxheight='screen:0.1' animatetime='.3' id="showmoreqcontent">
        		<p class="limit-p-content" limit="2">蓝色表现什么<a href="javascript:void(0);" class="rela_btn" >心情</a>，怎么去表现？</p>
	        </mip-showmore>
        <div on="tap:showmoreqcontent.toggle" data-closetext="收起" class="mip-showmore-btn">全部</div>
    </div>
    <div class="m-b-user-bar">
    	<a href="https://m.iask.sina.com.cn/user/profile/52b64f9884ae42ddd312e855" class="b-user-info"><span class="b-user-name">闻人邪坐</span></a>
			<a class="btn-b-report" href="https://m.iask.sina.com.cnhttps://m.iask.sina.com.cn/b/wdag72Py0f.html">举报</a>
    </div>
</section>
<section class="mip-html m-other-answer">
         <h2 class="m-b-other-title">其他回答</h2>
         <div class="m-other-list">
			<div class="m-other-list-item">
	                 <div class="m-mip-user-bar">
	                     <a href="/user/profile/51c678fde4b01a3023ed6055" target="_blank">
		                          <mip-img class="user-pic" src="http://tp3.sinaimg.cn/1736634862/50/40001811493/0"></mip-img>
		                          <span class="user-name">墨雪Sal</span>
		                     	</a>
							<span class="time-text">2013-12-22</span>
	                     <div class="op-con">
	                         <span class="btn-op btn-b-good">0</span>
	                         <span class="btn-op btn-b-comment">0</span>
	                     </div>
	                 </div>
	                 <mip-showmore  maxheight='300' animatetime='.3' id="showmore_52b674b4e4b003854d02238e">
		                 <p class="m-mip-answer-txt limit-p-content" limit="13">&nbsp;&nbsp;&nbsp;&nbsp;蓝色代表着一种平静、稳定。蓝色能给人一种和谐、宽松的感觉。喜欢蓝色的人，一般而言比较容易伤感。这类人也很容易满足，能够保持平衡、调和，经常保持沉着、安定，安全感比较强烈。<br/>&nbsp;&nbsp;他们通常处于轻松的状态，并因此而陶醉于理想的境界。留给人们的印象为“温柔”的人中，大多钟爱蓝色。&nbsp;&nbsp;蓝色同时也表示超越时空的永恒，是传统与未来的紧密结合。选择蓝色，在感情上恬静、满足：生理上比较渴望休闲，希望能拥有充分的休息机会；在人际关系中，处事得体，不急躁，能够避免种种纷争、嘈杂的局面。<br/>&nbsp;&nbsp;他们希望一种稳定的秩序出现，因此，总是尽量使自己不与周围的人产生摩擦。&nbsp;&nbsp;和谐是他们一切行动的指导。他们比较信赖别人，同时亦希望自己能得到别人的信赖，处事比较圆滑。<br/>&nbsp;&nbsp;&nbsp;&nbsp; 
如果你喜欢蓝色，你是性格内向的人，你不太喜欢与别人交流，宁可找个僻静的地方独处；你的自我抑制能力很强，即使遇到令人激动的事，你也能不为所动，保持一颗平常心你有较强的判断力，能看到别人不注意的方面；你的目标不算很远大，对你来说，安安稳稳过着平静的生活是最理想不过的了。</p>
				     </mip-showmore>
			        <div on="tap:showmore_52b674b4e4b003854d02238e.toggle" data-closetext="收起" class="mip-showmore-btn">全部</div>
	             </div>
			<div class="m-other-list-item">
	                 <div class="m-mip-user-bar">
	                     <a href="/user/profile/505403210cf205a047cbcdf2" target="_blank">
		                          <mip-img class="user-pic" src="http://tva3.sinaimg.cn/crop.0.11.381.381.50/4958a180jw1f49s38cymqj20am0bmmy4.jpg"></mip-img>
		                          <span class="user-name">mikel</span>
		                     	</a>
							<span class="time-text">2013-12-22</span>
	                     <div class="op-con">
	                         <span class="btn-op btn-b-good">0</span>
	                         <span class="btn-op btn-b-comment">0</span>
	                     </div>
	                 </div>
	                 <mip-showmore  maxheight='300' animatetime='.3' id="showmore_52b66f22e4b0e996fb34ed81">
		                 <p class="m-mip-answer-txt limit-p-content" limit="5">浅蓝色代表一种舒服的感觉,我想应该是自在悠闲吧而深蓝色则给人深沉一点 我想是宁静和冷静, 复制的还有粉蓝，代表快乐，冰蓝，代表平静，水蓝，代表离别。湖蓝，代表放弃。</p>
				     </mip-showmore>
			        <div on="tap:showmore_52b66f22e4b0e996fb34ed81.toggle" data-closetext="收起" class="mip-showmore-btn">全部</div>
	             </div>
			</div>
     </section>
    </mip-showmore>
        <div>
	        <div on="tap:showmoreWhitePaper.toggle" data-closetext=" "  class="answer-mask-txt v-middle">展开全部</div>
        </div>
    </section>


<section class="m-similar-con mt10 m-similar-container">
	    <h2 class="m-b-other-title">类似问题<span class="link-change">换一换</span></h2>
	    <ul class="m-similar-list">
	    	<li class="show" >
		        	<a href="https://m.iask.sina.com.cn/b/7426933.html" target="_blank">蓝色代表的是什么心情?有很多人认为蓝色</a>
		        </li>
	    	<li class="show"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/20041015.html" target="_blank">蓝色代表什么</a>
		        </li>
	    	<li class="show"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/20132953.html" target="_blank">蓝色的心代表什么有人说我的心是蓝色的，</a>
		        </li>
	    	<li class="show"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/3964642.html" target="_blank">各种颜色都代表什么?</a>
		        </li>
	    	<li class="show"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/10564513.html" target="_blank">喜欢什么颜色都代表什么性格？就是哪些颜</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/19927914.html" target="_blank">有谁知道QQ签名蓝心代表什么意思啊?Q</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/1768273.html" target="_blank">喜欢蓝色,请问是什么样的心理和性格?</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/8tr52qucd2h.html" target="_blank">卢俊卿天九幸福集团工作模式是什么样的啊</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/418807.html" target="_blank">如何培养孩子的独立生活能力</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/3716726.html" target="_blank">怎样培养孩子的独立能力怎样培养孩子的独</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/9PkBxnJV8F.html" target="_blank">我妈是不是讨厌我了？因为我不听妈妈话嫁</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/10ptqczUP1Jz.html" target="_blank">父母怎么注重培养孩子的生活自理能力？</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/svHINssxh.html" target="_blank">怎样培养孩子热爱劳动和独立生活的能力？</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/15134304.html" target="_blank">如何培养孩子的自理能力我的孩子上二年级</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/6DQ6hZ57OB.html" target="_blank">如何培养孩子独立自主的生活能力？</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/139xbRGqfVU.html" target="_blank">如何培养孩子的独立生活能力？</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/6j3RwH8brrJ.html" target="_blank">怎样逐步培养小儿的独立生活能力？</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/20911307.html" target="_blank">蓝色在爱情中代表什么</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/117289.html" target="_blank">所有各种颜色代表什么意思红色代表什么？</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/La6jBNRplh.html" target="_blank">qq飞车玫瑰甘露怎么刷</a>
		        </li>
	    	<li class="hide"
		         >
		        	<a href="https://m.iask.sina.com.cn/b/5cbS7cZQTk6.html" target="_blank">红色，蓝色，橙色，黑色各代表什么表情</a>
		        </li>
	    	</ul>
	</section>

<section class="mip-hot-top mt10">
	    <h2 class="m-b-other-title">热度TOP</h2>
	    <div class="mip-hot-scroll">
	        <ul class="mip-hot-list" style="width:480px;">
	        	<li data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_top_question%27%5D%7D">
		            	<a href="https://m.iask.sina.com.cn/b/1276174.html" target="_blank">
		            		<mip-img class="list-pic" src="" cid="171"></mip-img>
		            		<div class="text-con">
		                        <p class="title-text">难道是初恋就要把自己所有的第一次都给他吗？</p>
		                        <p class="get-text">53人阅读</p>
		                    </div>
		            	</a>
		            </li>
	        	<li data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_top_question%27%5D%7D">
		            	<a href="https://m.iask.sina.com.cn/b/1aw489NXbPW.html" target="_blank">
		            		<mip-img class="list-pic" src="" cid="160"></mip-img>
		            		<div class="text-con">
		                        <p class="title-text">宝宝的胎毛大家都怎么处理了？</p>
		                        <p class="get-text">122人阅读</p>
		                    </div>
		            	</a>
		            </li>
	        	<li data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_top_question%27%5D%7D">
		            	<a href="https://m.iask.sina.com.cn/b/3082109.html" target="_blank">
		            		<mip-img class="list-pic" src="" cid="213"></mip-img>
		            		<div class="text-con">
		                        <p class="title-text">对联高手进本人日日日日本人,求对下联.中间日日意思是天天,第...</p>
		                        <p class="get-text">1029人阅读</p>
		                    </div>
		            	</a>
		            </li>
	        	<li data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_top_question%27%5D%7D">
		            	<a href="https://m.iask.sina.com.cn/b/51947f30e4b0a8c9397fb919.html" target="_blank">
		            		<mip-img class="list-pic" src="" cid="152"></mip-img>
		            		<div class="text-con">
		                        <p class="title-text">怎么样才能知道淘宝上买的东西是不是正品 这个问题困扰我好久？</p>
		                        <p class="get-text">242人阅读</p>
		                    </div>
		            	</a>
		            </li>
	        	<li data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_top_question%27%5D%7D">
		            	<a href="https://m.iask.sina.com.cn/b/51bd43d9e4b0e9069291cbd7.html" target="_blank">
		            		<mip-img class="list-pic" src="" cid="928"></mip-img>
		            		<div class="text-con">
		                        <p class="title-text">有没有人知道揭阳哪里有桑拿房并且有洗脚？</p>
		                        <p class="get-text">397人阅读</p>
		                    </div>
		            	</a>
		            </li>
	        	<li data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_top_question%27%5D%7D">
		            	<a href="https://m.iask.sina.com.cn/b/Qz2BssUbYi.html" target="_blank">
		            		<mip-img class="list-pic" src="" cid="965"></mip-img>
		            		<div class="text-con">
		                        <p class="title-text">谜底是什么山上有山山相连？</p>
		                        <p class="get-text">306人阅读</p>
		                    </div>
		            	</a>
		            </li>
	        	</ul>
	    </div>
	</section>
<section class="mip-relevant mt10">
    <div class="mip-tab-nav">
        <span class="nav-ele current">相关推荐</span>
    </div>
    <div class="mip-tabs-con current">
    	<ul class="mip-relevant-list">
        	<li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1GY4GFPzYMi1.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="551991850438" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">每天胡思乱想对宝宝有伤害...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1GYJU4UN9eGx.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="620681850459" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">大龄剩女很迷茫，请各位帮...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" >
				        	
				</li>
		        	<li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1GYh4uyPLBy5.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="590051850449" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">唐筛过高怎么办？</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1GZJVcBSSV4x.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="617321850458" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">为什么产后心情老是不太好...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1GZeHA87DpJb.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="620681850459" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">33周为什么我心情委屈肚...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" >
				        	
				</li>
		        	<li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1GZpuPSWrHQ1.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="579701850446" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">难道真的是一孕傻三年？</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1H0q0IgMYqpT.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="590051850449" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">家长如何处理自己的负在情...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1H1jtHM5WP49.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="544251850436" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">易哭。这是什么原因？</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" >
				        	
				</li>
		        	<li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1H2mVzJIpjxH.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="603931850454" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">面对吃硬不吃软的小家伙该...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1H2sk5pK8UQl.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="620681850459" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">有没有事？ 今天早上因为...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1H3Mbk6FiQnH.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="586551850448" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">如果入盆了的话 能不能散...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="show" >
				        	
				</li>
		        	<li class="hide" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1H3rntbmQiRf.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="603931850454" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">JJ在疲软状态下才2至3...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="hide" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1H4cl6y4eN41.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="610651850456" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">谁可以告诉怎么才能生男孩...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="hide" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/1H5nUXRlDs9T.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="558971850440" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">想找一个目标努力但是特别...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="hide" >
				        	
				</li>
		        	<li class="hide" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/6cV7jZbJ4wl.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="573051850444" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">观想全身化成气的放松法是...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="hide" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/6dSEOb6agZn.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="620681850459" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">怎么从光明中完全觉醒？</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="hide" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/6dzSwhI04xv.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="565861850442" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">怎么放松所有循环系统、内...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="hide" >
				        	
				</li>
		        	<li class="hide" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/6e1OQoNMqBv.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="586551850448" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">疗愈自卑的方法是怎样的？</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="hide" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/6exSnYPFwSh.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="562431850441" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">观想全身化成光明的放松方...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="hide" data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_recommend_xgzs_question%27%5D%7D">
		                <a href="https://m.iask.sina.com.cn/b/6fJ9SbsxnMV.html" target="_blank">
		                    <mip-img class="list-pic" src="" imgid="565861850442" cid="180"></mip-img>
		                    <div class="text-box">
		                        <p class="relevant-title">以火的禅观怎么开启智慧光...</p>
		                        <p class="data-text">2019-03-05</p>
		                    </div>
		                </a>
		            </li>
		            <li class="hide" >
				        	
				</li>
		        	
		        	</ul>
        <p class="mip-loading-more">加载中<span class="ani_dot">...</span></p>
    </div>
</section>
<section class="mip-hot-search mt10 hot-search-container">
	        <h2 class="m-b-other-title">热点搜索<span class="link-change">换一换</span></h2>
	        <ul class="hot-search-ul">
	        	<li class="show"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55761684aed44c2698d9a0.html" target="_blank">中秋节送领导什么</a>
		            </li>
	        	<li class="show"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55767a84aed44c2698da75.html" target="_blank">中年危机</a>
		            </li>
	        	<li class="show"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c557a8384aed44c2698e464.html" target="_blank">一一个人怎样才能</a>
		            </li>
	        	<li class="show"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55808d84aed44c2698f2f5.html" target="_blank">男人的气质与修养</a>
		            </li>
	        	<li class="show"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55811984aed44c2698f458.html" target="_blank">容易心烦是怎么回</a>
		            </li>
	        	<li class="show"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55948984aed44c269922cc.html" target="_blank">比男生大</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c559f1b84aed44c26993b0e.html" target="_blank">怎么学不会游泳</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55a32b84aed44c269944dd.html" target="_blank">到底要怎么好数学</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55a4b284aed44c2699488c.html" target="_blank">谎言的恶意</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55a4c284aed44c269948b2.html" target="_blank">搬弄是非的人</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55a4ca84aed44c269948c3.html" target="_blank">亲情友情与金钱</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55b0a084aed44c269965a3.html" target="_blank">幸福吗</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55bb7484aed44c26997ecc.html" target="_blank">不知道该怎么买衣</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55c90f84aed44c26999e86.html" target="_blank">在正确的时间遇到</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55cc2a84aed44c2699a5b4.html" target="_blank">怎么样才能看透一</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55d0dc84aed44c2699ea18.html" target="_blank">怎么知道自己的前</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55eb1084aed44c269b55e5.html" target="_blank">为什么这样子</a>
		            </li>
	        	<li class="hide"
		            	data-stats-baidu-obj="%7Btype%3A%20%27click%27%2C%20data%3A%20%5B%27_trackEvent%27%2C%20%27MIP_new_detail%27%2C%20%27skip%27%2C%20%27mip_hot_search_question%27%5D%7D"> 
		            	<a href="/key/5c55ee7984aed44c269b6e0a.html" target="_blank">后悔</a>
		            </li>
	        	</ul>
	    </section>

<footer class="mip-footer">
        <div class="mip-er-code">
            <mip-img class="code-pic" src="http://pic.iask.cn/fimg/1016487185_164.jpg"></mip-img>
            <p><span class="red-color">微信号</span> iaskcn</p>
        </div>
        <nav class="footer-nav">
            <a href="/html/s/agreement.html" rel="nofollow" target="_blank">爱问协议</a>
            <a href="/helpCenter/index.html" rel="nofollow" target="_blank">帮助</a>
            <a href="/dynamicInfo/suggest"   rel="nofollow" target="_blank">反馈</a>
            <a href="/links.html" rel="nofollow" target="_blank">友链</a>
            <a href="/d/gongyi"  rel="nofollow" target="_blank">公益</a>
            <a href="/html/s/cooperation.html" rel="nofollow" target="_blank">商务合作</a>
        </nav>
        <p>有问题 @爱问</p>
        <p class="copy">Powered by iask.com</p>
    </footer>
    <mip-fixed type="gototop">
    	<mip-gototop></mip-gototop>
	</mip-fixed>
    <ul class="info-stream-img-list hide">
	<li cid="75" value="8282260625_560, 8308060626_560, 8339160627_560, 8377660628_560, 8409660629_560"></li>
	<li cid="106" value="2129560604_560, 2161960605_560, 2195360606_560, 2233460607_560, 2274260608_560, 2304660609_560, 2331760610_560, 2358560611_560, 2394960612_560, 2426460613_560"></li>
	<li cid="107" value="7692860654_560, 7726360655_560, 7754960656_560, 7785960657_560, 7818860658_560"></li>
	<li cid="108" value="4356560642_560, 4391760643_560, 4426760644_560, 4456060645_560, 4481360646_560"></li>
	<li cid="99" value="6264760676_560, 6302560677_560, 6330960678_560, 6364260679_560, 6402360680_560"></li>
	<li cid="1003" value="8191960614_560, 8217760615_560, 8252660616_560, 8289260617_560, 8323660618_560, 8357060619_560"></li>
	<li cid="1004" value="3072160647_560, 3106360648_560, 3141660649_560, 3176360650_560, 3215760651_560, 3252860652_560, 3287160653_560"></li>
	<li cid="1005" value="8453260635_560, 8483560636_560, 8512460637_560, 8538160638_560, 8570160639_560, 8603060640_560, 8636860641_560"></li>
	<li cid="96" value="6789860584_560, 6876560585_560, 6911160586_560, 6945160587_560, 6978460588_560,8281875908_560,8302175909_560,8324575910_560,8340975911_560,8361675912_560"></li>
	<li cid="100" value="5161060589_560, 5195660590_560, 5232760591_560, 5272860592_560, 5308760593_560,4780475894_560,4805575895_560,4823475896_560,4850275897_560,4869475898_560"></li>
	<li cid="151" value="4953360573_560, 4993660574_560, 5035260575_560, 5062460576_560, 5089360577_560,2869275920_560,2885775921_560,2899675922_560,2919875923_560,2941075924_560"></li>
	<li cid="965" value="1654560594_560, 1694860595_560, 1734260596_560, 1769060597_560, 1803860598_560,409575887_560,438375888_560,461275889_560,481375891_560,498475892_560"></li>
	<li cid="1032" value="3872060620_560, 3904360621_560, 3937860622_560, 3973160623_560, 4009360624_560,6596275903_560,6640075904_560,6662775905_560,6686875906_560,6699875907_560"></li>
	<li cid="169" value="6819360599_560, 6844160600_560, 6864860601_560, 6899760602_560, 6928060603_560,7337475879_560,7374475880_560,7395975881_560,7413075882_560,7434775883_560"></li>
	<li cid="780" value="2938060659_560, 2987960660_560, 3021060661_560, 3052060662_560, 3085860663_560,3608575955_560,3627575956_560,3652975957_560,3667075958_560,3687075959_560"></li>
	<li cid="104" value="4331960630_560, 4363960631_560, 4391260632_560, 4419160633_560, 4450560634_560,224575940_560,242175941_560,261475942_560,281475943_560,298375944_560"></li>
	<li cid="168" value="1026060664_560, 1066160665_560, 1112460666_560, 1161960667_560, 1310060668_560,4477875496_560,4518475497_560,4559775498_560,4598475499_560,4639075500_560"></li>
	<li cid="105" value="2403860568_560, 2447560569_560, 2495960570_560, 2543360571_560, 2587560572_560,605675204_560,648075205_560,686775206_560,727675207_560,763275208_560"></li>
	<li cid="97" value="1372060578_560, 1421160579_560, 1462960580_560, 1507960581_560, 1575960582_560,4477875496_560,4518475497_560,4559775498_560,4598475499_560,4639075500_560"></li>
	<li cid="101" value="4894760669_560, 4937660670_560, 4985360671_560, 5027460672_560, 5070760673_560,1638375520_560,1675475521_560,1711675522_560,1744475523_560,1782975524_560"></li>
	<li cid="103" value="1398860681_560, 1442560682_560, 1484960683_560, 1526860684_560, 1572660685_560,3588975510_560,3625975511_560,3665475512_560,3698875513_560,3738275514_560"></li>
	<li cid="928" value="5912291982_560,5931891983_560,5955891984_560,5976191985_560,6003191986_560,6028991987_560,6060891988_560,6088391989_560,6108891990_560,6127991991_560"></li>
	<li cid="874" value="7920391994_560,7944691995_560,7965091996_560,7983991997_560,8000691998_560,8024091999_560,8039792000_560,8064492001_560,8079692002_560,8103792003_560"></li>
	<li cid="154" value="488992004_560,512992005_560,535392006_560,559792007_560,579592008_560,595792009_560,614992010_560,639292011_560,659492012_560,676692013_560"></li>
	<li cid="166" value="192014_560,23192015_560,42492016_560,61992017_560,83592018_560,99092019_560,122192020_560,144092021_560,165892022_560,185692023_560,4900992050_560,4938992051_560,4978892052_560,5012692053_560,5047392054_560,5080792055_560,5115292056_560,5150092057_560,5193392058_560,5235692059_560"></li>
	<li cid="152" value="8295892030_560,8335292031_560,8369292032_560,8408692033_560,8441792034_560,8476092035_560,8509192036_560,8543792037_560,8588192038_560,8623392039_560"></li>
	<li cid="147" value="5789292061_560,5826092062_560,5867992063_560,5905392064_560,5943192065_560,5977292066_560,6011592067_560,6048892068_560,6084692069_560,6117692070_560"></li>
	<li cid="148" value="6978292071_560,7016092072_560,7048292073_560,7107192074_560,7146592075_560,7189792076_560,7236892077_560,7286192078_560,7327792079_560,7376392080_560"></li>
	<li cid="163" value="6886592086_560,6905792087_560,6923892088_560,6937792089_560,6950292090_560,6960492091_560,6977892092_560,6987192093_560,7005692094_560,7025492095_560"></li>
	<li cid="162" value="6739792098_560,6788192099_560,6808092100_560,6840092101_560,6858492102_560,6875092103_560,6890292104_560,6916492105_560,6935392106_560,6960992107_560"></li>
	<li cid="158" value="5467592115_560,5490992116_560,5521192117_560,5538392118_560,5557092119_560,5576792120_560,5598692121_560,5614092122_560,5637892123_560,5649592124_560"></li>
	<li cid="153" value="4020692136_560,4137892137_560,4160292138_560,4176692139_560,4201792140_560,4211892141_560,4233492142_560,4245792143_560,4261992144_560,4277892145_560"></li>
	<li cid="22341" value="1452992108_560,1497892109_560,1523492110_560,1544892111_560,1566492112_560"></li>
	<li cid="22345" value="6192192125_560,6217292126_560,6242392127_560,6294492128_560,6324992129_560"></li>
	<li cid="22346" value="1729792131_560,1758592132_560,1795092133_560,1819592134_560,1838292135_560"></li>
	<li cid="22327" value="88192149_560,114592150_560,138292151_560,179892152_560,212692153_560"></li>
	<li cid="22348" value="5528992155_560,5553992156_560,5582992157_560,5603692158_560,5618392159_560"></li>
	<li cid="22324" value="1090092160_560,1105192161_560,1132592162_560,1152392163_560,1175092164_560"></li>
	<li cid="22331" value="5402492165_560,5422992166_560,5442492167_560,5466192168_560,5495992169_560"></li>
	<li cid="22362" value="4963492230_560,4990292231_560,5008392232_560,5030992233_560,5051292234_560,5069592235_560,5086792236_560,5107692237_560,5123892238_560,5141492239_560,5162992240_560"></li>
	<li cid="22449" value="5185792241_560,5204992242_560,5221992243_560,5240392244_560,5261092245_560,5281192246_560,5296192247_560,5314692248_560,5333392249_560,7612692251_560"></li>
	<li cid="876" value="6594992252_560,6619592253_560,6641692254_560,6662892255_560,6684292256_560,6699392257_560,6715892258_560,6733892259_560,6753892260_560,6770392261_560"></li>
	<li cid="149" value="3755292846_550,3779892847_550,3811492848_550,3862192849_550,3898992850_550,3927492851_550,3954892852_550,3979992853_550,4007492854_550,4038892855_550"></li>
	<li cid="0" value="3755292846_550,3779892847_550,3811492848_550,3862192849_550,3898992850_550,3927492851_550,3954892852_550,3979992853_550,4007492854_550,4038892855_550,6594992252_560,6619592253_560,6641692254_560,6662892255_560,6684292256_560,6699392257_560,6715892258_560,6733892259_560,6753892260_560,6770392261_560,5185792241_560,5204992242_560,5221992243_560,5240392244_560,5261092245_560,5281192246_560,5296192247_560,5314692248_560,5333392249_560,7612692251_560"></li>
</ul>
	<script src="https://c.mipcdn.com/static/v2/mip.js" ></script>
    <script src="https://c.mipcdn.com/static/v2/mip-stats-cnzz/mip-stats-cnzz.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-ad/mip-ad.js" ></script>
	<script src="https://c.mipcdn.com/static/v2/mip-stats-baidu/mip-stats-baidu.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-showmore/mip-showmore.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-gototop/mip-gototop.js"></script>
    
	<script src="/mip-iask-detail/mip-iask-detail.js"></script>
    <div class="hide">
	<div data-stats-baidu-obj="%7B%22type%22:%22load%22,%22data%22:%22%5B'_setPageTag',%20'21',%20'MIP_%E5%88%86%E7%B1%BB-%E7%83%A6%E6%81%BC-%E6%83%85%E6%84%9F%E6%83%85%E7%BB%AA'%5D%22%7D"></div>
	<div data-stats-baidu-obj="%7B%22type%22:%22load%22,%22data%22:%22%5B'_setPageTag',%20'2191',%20'MIP_%E4%B8%80%E7%BA%A7%E5%88%86%E7%B1%BB-%E7%83%A6%E6%81%BC'%5D%22%7D"></div>
	<div data-stats-baidu-obj="%7B%22type%22:%22load%22,%22data%22:%22%5B'_setPageTag',%20'1217',%20'%E6%B8%A0%E9%81%93-MIP-QD004'%5D%22%7D"></div>
	    <mip-stats-baidu token="3a7f7956b2984ca88f5d5c19c0fe4715"></mip-stats-baidu>
	    
	    
	</div>
</div>
<mip-iask-detail></mip-iask-detail>
 
</body>
</html>
