<!DOCTYPE html>
<html mip>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <style mip-custom>
    /* 自定义样式 */
  </style>
</head>

<body>
  <mip-botbar logoimgsrc="https://img.xmkanshu.com/operateimg/novel/55/558c64914884316a24fb6abc51ca2470.png" androidhref="#androidHref"
    ioshref="#iosHref" title="熊猫看书" brief="整本小说不收钱">
  </mip-botbar>
  <mip-stats-baidu>
    <script type="application/json">
          {
              "token": "02890d4a309827eb62bc3335b2b28f7f",
              "_setCustomVar": ['type', "load", "zonheng", 'firstload'],
              "_setAutoPageview": [true]
          }
      </script>
  </mip-stats-baidu>
  <div data-stats-baidu-obj='{"type":"click","data":["_trackPageview", "/virtual/login"]}'>
    点击发送请求
  </div>
  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-botbar/mip-botbar.js"></script>
  <script src="https://c.mipcdn.com/static/v2/mip-stats-baidu/mip-stats-baidu.js"></script>
</body>

</html>