<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="http://net150.top/index.html">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>

      嗯嗯嗯 
      <mip-test data-id="12121">
        <mip-div class="lkkl">czzzzz</mip-div>
        <div class="kkjkjk" data-click="aaa()">1112211</div>
        <button on="tap:example.say(你好测试点击按钮)">点我</button>
        <mip-test id="example" name="lilei">1111</mip-test>
        
      </mip-test>
     

    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-test/mip-test.js"></script>
  </body>
</html>