<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-zhmsask-new data-merchantId="5" data-brandId="1066" data-categoryId="77" data-source="{&quot;SourceUrl&quot;:&quot;https://mip.zhms.cn/jm/1066/&quot;,&quot;IntentionBrand&quot;:&quot;小米寿司来了&quot;}" >
	  <div class="mt10 mip-zhmsask">
    <div class="mip-zhmsask-fz mip-zhmsask-bg-fff mip-zhmsask-ptb25 mip-zhmsask-plr15">
        <h2 class="mip-zhmsask-f16 mip-zhmsask-fw6">加盟咨询</h2>
        <div class="mip-zhmsask-s-c8c8 mip-zhmsask-mt10 mip-zhmsask-f12"><b class="mip-zhmsask-s-c595">温馨提示：</b>如果你对本品牌感兴趣，并希望了解更多加盟信息，请填写下方表格，方便本品牌企业与你联系。</div>
        <mip-form class="mip-zhmsask-from" method="post" url="https://mip.zhms.cn/brand/addconsultation/">
            <ul class="mip-zhmsask-from-list mip-zhmsask-mt15">
                <li class="mip-zhmsask-bor1">
                    <input type="text" name="data-nickname" id="data-nickname"  placeholder="您的称谓"  class="mip-zhmsask-text">
                </li>
                <li class="mip-zhmsask-bor1 sex-radio-box">
                    <div class="mip-zhmsask-div">
						<label class="lable-sex">
						<input type="radio" name="sex" value="1" checked="checked" />先生
						</label>
                        <label class="lable-sex">
						<input type="radio" name="sex" value="2" />女士
						</label>
                    </div>
                </li>
                <li class="mip-zhmsask-bor1">
                    <input type="text" name="data-tel" id="data-tel" class="mip-zhmsask-text"  placeholder="请输入手机号">
                </li>                
                <li class="mip-zhmsask-bor1">
                    <textarea class="mip-zhmsask-area"  name="data-question" id="data-question" placeholder="您想了解的问题"></textarea>
					<dl class="kuaijie">
                    <dt>快捷留言：</dt>
						<dd>
							<span class="quick-question">想要加盟，请尽快联系。</span>
							<span class="quick-question">加盟流程是怎样的？</span>
							<span class="quick-question">加盟费需要是多少钱？</span>
							<span class="quick-question">有哪些扶持政策</span>
							<span class="quick-question">能实地考察吗？</span>
						</dd>
					</dl>
                </li>
				<li>
                    <input type="button"  class="mip-zhmsask-submit-btn" value="提交">
                </li>
            </ul>
        </mip-form>
    </div>
<mip-toast id= "toast-bar" info-text="" station ="bottom" name="toast-bar">
</mip-toast>
	</div>

	  </mip-zhmsask-new>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-zhmsask-new/mip-zhmsask-new.js"></script>
  </body>
</html>

<script src="https://c.mipcdn.com/static/v2/mip-form/mip-form.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-mustache/mip-mustache.js"></script>
    <script src="https://c.mipcdn.com/static/v2/mip-script/mip-script.js"></script>