<!DOCTYPE html>
<html mip>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>MIP page</title>
  <link rel="canonical" href="对应的原页面地址">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
  <link rel="stylesheet" href="https://c.mipcdn.com/static/mag-design/2.0.2/mag-design.min.css">
  <style mip-custom>
  /* 自定义样式 */
    .item{
      padding: 80px;
      background: #f3f3f3;
      margin: 10px;
    }
    
    #header{
      border-bottom: 1px solid #f1f1f1;
      height: 44px;
      line-height: 44px;
      padding-left: 17px;
      padding-right: 17px;
    }
    #header .left{
      left: 17px;
      text-align: left;
      position: absolute;
      top: 0;
      z-index: 10;
    }
    h4{
      margin: 0;
      padding: 0 50px;
      text-align: center;
      font-size: 18px;
    }
  </style>
</head>
<body>
  <header id = "header">
    <div class = "left">
      <a href = "xiaoshuo.html">
        <i class = "icon icon-left"></i>
      </a>
    </div>
    <h4 class = "line-clamp1"> 小说标题 </h4>
  </header>
  <mip-data>
    <script type="application/json">
      {
        "title": "",
        "bkid": "",
        "originUrl": ""
      }
    </script>
  </mip-data>
  <mip-novelcatalog 
    m-bind:novel-name = "title"
    m-bind:origin-url = "originUrl"
    m-bind:bkid = "bkid"></mip-novelcatalog>


  <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
  <script src="/mip-novelcatalog/mip-novelcatalog.js"></script>
</body>
</html>