<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    </style>
  </head>
  <body>
    <div>
      <mip-jxwl-cliptext>
	      <pre class="copy">
		      <p>(b&amp;#12539;w&amp;#12539;)b&lt;YWViZnZxeXRkaXpva2g1eEBhZC5uZXRlYXNlLndpbi4xNjMuY29tOjY=&gt;d(&amp;#12539;w&amp;#12539;d)</p>
		      <em>复制</em>
		   </pre>
      </mip-jxwl-cliptext>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-jxwl-cliptext/mip-jxwl-cliptext.js"></script>
  </body>
</html>
