<!DOCTYPE html>
<html mip>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>MIP page</title>
    <link rel="canonical" href="对应的原页面地址">
    <link rel="stylesheet" href="https://c.mipcdn.com/static/v2/mip.css">
    <style mip-custom>
    /* 自定义样式 */
    .hide {
      display: none;
    }
    </style>
  </head>
  <body>
    <div>
      <ul id="consult_list">
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item hide">4</li>
        <li class="item hide">5</li>
        <li class="item hide">6</li>
      </ul>
      <mip-easy-show>
        <div id="more_answer">显示其他的</div>
      </mip-easy-show>
    </div>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
    <script src="/mip-easy-show/mip-easy-show.js"></script>
  </body>
</html>
